<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
                xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
                      
	<display-name>eSciDoc PID cache service</display-name>
	
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>de.mpg.mpdl.inge.pidcache.web.MainServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>InitializerServlet</servlet-name>
		<display-name>InitializerServlet</display-name>
		<servlet-class>de.mpg.mpdl.inge.pidcache.init.InitializerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/handle/*</url-pattern>
	</servlet-mapping>
		
</web-app>