@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

	.paginator {
		margin-top: 0.5em;
		margin-bottom: 1em;
	}

	.paginatorFallbackGoBtn {
		margin-top: 0.73em;
	}

/*RANGE SELECTOR*/

.rangeSelector {
		margin-top: 0.36em;
	}
	
.rangeSelector select {
	margin-top: 0.37em;
}

/*
	.rangeSelector {
		
		width: 13.19em;
		margin-right: -0.27em;
		margin-left: 5.09em;
		margin-top: -0.18em;
	}
	
		html > body .rangeSelector {
			
			width: 12.93em;
			margin-right: 0px;
		}

	.rangeSelector select {
		margin-top: 0.64em;
	}

	.rangeSelector > label {
		margin-top: 0.64em;
	}

	.rangeSelector .menu {
		height: 7.38em;
		margin-top: 0.64em;	
	}

	.rangeSelector .line {
		margin-bottom: -0.09em;
	}

	.rangeSelector .headline {
		
		margin-top: 0.73em;
	}

	.rangeSelector .numberLabel {
		margin-right: 0.18em;
		margin-left: 0.18em;	
	}

	.rangeSelector .hitsLabel {
		
		width: 6.00em;
		margin-right: 0px;
	}

		html > body .rangeSelector .hitsLabel {
			
			width: 6.63em;
		}

	.rangeSelector div .hitsLabel {
		padding-top: 0px;
	}

	.rangeSelector label {
		height: 1.3em;
	}

	.rangeSelector select {
		width: 4.64em;
	}

	.rangeSelector div {
		height: 1.36em;
	}
	
	
*/

/*PAGE BROWSER*/

	.pageBrowser {
		margin-top: 0.27em;
	}

	.pageBrowser input, .pageBrowser button, .pageBrowser a {
		height: 2.45em;
	}

	.pageBrowser .seperator, .pageBrowser .actualSeperator {
		width: 0.09em;
		height: 1.27em;
		margin: 0px;
		padding: 0px;
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0.45em;
		border-top-style: solid;
		border-bottom-width: 0.82em;
		border-bottom-style: solid;
	}

	.pageBrowser .skipToFirst {
		margin-right: 0.45em;	
	}

	.pageBrowser .forward {
		margin-left: 0.64em;
	}

	.pageBrowser .backward {
		margin-right: 0.64em;
	}

	.pageBrowser .skipToLast {
		margin-left: 0.45em;
	}
	
	.pageBrowser label{
		margin-top: 0.28em;
	}

/*GOTO BOX*/
	.gotoBox label{
		margin-top: 0.28em;
	}

	.gotoBox input {
		margin-top: 0.65em;
		margin-left: 0.10em;
		margin-right: 0.19em;
		padding-top: 0.18em;
	}