<div class="container-fluid">
    <h3 class="text-primary">Indices in this cluster</h3>
<div class="card border-primary text-right">
  <div class="card-body">
    <h4 class="card-title">Indices</h4>
    <input type="submit" class="btn btn-primary btn-sm" name="add" value="+" (click)="addNewIndex()" />
  </div>

  <ul class="list-group">

    <div class="list-group-item list-group-item-action text-primary py-0" *ngFor="let index of indices" (click)="goTo(index.index)">
      <span class="col-sm-11">{{index.health}}   {{index['docs.count']}}   ({{index.index}})</span>
      <span class="col-sm-1"><input type="submit" class="btn btn-outline-primary btn-sm float-right" (click)="delete(index); $event.stopPropagation()"
                name="delete" value="x" /></span>
    </div>
  </ul>

  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
</div>
<pre>{{indices | json}}</pre>