# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto eol=lf

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           text eol=lf
*.df            text eol=lf
*.htm           text eol=lf
*.html          text eol=lf
*.java          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.jsp           text eol=lf
*.jspf          text eol=lf
*.jspx          text eol=lf
*.properties    text eol=lf
*.sh            text eol=lf
*.tld           text eol=lf
*.txt           text eol=lf
*.tag           text eol=lf
*.tagx          text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.ttf           binary
*.war           binary
*.oft			binary
*.eot			binary
*.svg			binary
*.ttf			binary
*.woff2			binary


