target/
null/

.project
.metadata
.settings/
.classpath
*.launch
*~
/jacoco

# IntelliJ
*.iml
.idea/
*.iws

reindex_util/dependency-reduced-pom.xml
.jpb/jpb-settings.xml
.github/copilot-instructions.md
.vscode/settings.json
.DS_Store
