<div class="container">
	<div class="form-group row w-100">
		<div class="col-2">
			<select class="select form-control form-control-sm" [(ngModel)]="selectedRole" (ngModelChange)="onChangeRole($event)" name="selectedRole">
				<option [ngValue]="role" *ngFor="let role of roles">{{role}}</option>
			</select>
		</div>
		<div class="col-7" *ngIf="selectedRole && (selectedRole === 'DEPOSITOR' || selectedRole === 'MODERATOR')">
			<select class="select form-control form-control-sm" [(ngModel)]="selectedCtx" (ngModelChange)="onChangeCtx($event)" name="selectedCtx">
				<option [ngValue]="ctx" *ngFor="let ctx of ctxs">{{ctx.name}} {{ctx.objectId}}</option>
			</select>
		</div>
		<div class="col-7" *ngIf="selectedRole && selectedRole === 'YEARBOOK-EDITOR'">
			<select class="select form-control form-control-sm" [(ngModel)]="selectedOu" (ngModelChange)="onChangeOu($event)" name="selectedOu">
				<option [ngValue]="ou" *ngFor="let ou of ous">{{ou.metadata.name}} {{ou.objectId}}</option>
			</select>
		</div>
		<div class="col-7" *ngIf="selectedRole && (selectedRole.endsWith('ADMIN') || selectedRole === 'REPORTER')">
			<input class="form-control form-control-sm" type="text" name="placeholder1" [(ngModel)]="selectedUser.affiliation.objectId"
			 id="placeholder1" readonly/>
		</div>
		<div class="col-7" *ngIf="selectedRole && selectedRole.startsWith('CONE')">
			<input class="form-control form-control-sm" type="text" name="placeholder1" id="placeholder1" readonly/>
		</div>
		<div *ngIf="!selectedRole" class="col-7">
			<input class="form-control form-control-sm" type="text" name="placeholder2" id="placeholder2" value="select a role ..." readonly/>
		</div>
		<div class="col-3">
			<input type="button" class="btn btn-outline-primary btn-sm float-left" name="add" value="add" (click)="validateSelection()"
			/>
		</div>
	</div>

	<div class="form-group row w-100">
		<div class="col-9">
			<textarea class="form-control form-control-sm" rows="3" id="selectedGrants" [(ngModel)]="grantsToAdd" readonly></textarea>
		</div>
		<div class="col-3">
			<input type="button" class="btn btn-outline-primary btn-sm float-left" name="addGrants" value="add grants" (click)="addGrants()"/>
			<input type="button" class="btn btn-outline-primary btn-sm float-right" name="reset" value="clear list" (click)="resetGrants()"/>
		</div>
	</div>
</div>