/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/ 

/* Style rules to make data tables look better */

.page{
  background-color: #FFFFFC;
}

.organizationInfoPage{
  background-color: #FFFFFC;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

.navigation{
  background-color: #F7F7F7;
}

.navigationDark{
  background-color: #EBEBEB;
}

.header {
  color: #72132D;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 36px; 
  font-variant: small-caps; 
  font-weight: bold;
}

.orientationHeader {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 18px; 
  font-variant: small-caps; 
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.breadCrumb {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 10px; 
  font-weight: bold;
}

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #F7F7F7;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.valMessage {
  	font-weight: normal;
  	margin-left: 18px;
  	margin-top: 4px;
  	width: 640px;
}

.viewItemColumnRight {
  width: 75%;
}

.viewItemColumnLeft {
  width: 25%;
  padding-left: -10px;
  align: top;
}

.viewItemRow {
  height: 30px;
  padding-left: -20px;
  align: top;
}

.viewItemDataTable {
  padding-left: -10px;
}

/* fettes label */
.labelBig {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 14px; 
  font-weight: bold;
}

/* normales label */
.label {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Werte ausserhalb von Datentabellen (mit Einr�ckung) */
.value {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Werte ausserhalb von Datentabellen (mit Einr�ckung) */
.withdrawalComment {
  color: #72132D;
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: bold;
  font-style: italic;
}
/* Werte in Datentabellen (ohne Einr�ckung) */
.valueInTable {
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Metadata label */
.labelMetadata {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Metadata label (einger�ckt / zweite Ebene)*/
.labelMetadataIndent {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Werte ausserhalb von Datentabellen (mit Einr�ckung) f�r Metadaten*/
.valueMetadata {
  padding-left: 0px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Werte ausserhalb von Datentabellen (mit Einr�ckung) f�r Metadaten (zweite Ebene)*/
.valueMetadataIndent {
  padding-left: 4px;
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Werte in Datentabellen (ohne Einr�ckung) f�r Metadaten*/
.valueInTableMetadata {
  height: 20px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-size: 12px; 
  font-weight: normal;
}

/* Message, wenn keine items in derjeweiligen Liste vorhanden sind (Searchresult + Depositor Workspace) */
.noItemsFoundMessage {
  height: 30px;
  left: 10px; 
  top: 130px;
  font-family: 'Arial','Helvetica',sans-serif; 
  font-style: italic; 
  font-size: 12px; 
  position: absolute;
  color: #72132D;
}

/* Message, e.g. if no item is selected and the user pressed "Edit" in DepositorWS */
.message {
  height: 30px;
  left: 10px; 
  font-family: 'Arial','Helvetica',sans-serif; 
  font-style: italic; 
  font-size: 12px; 
  color: #000000;
}

/* Allgemeine Darstellung von Links */
a { font-size:12px;
	color:#72132d;
	font-weight:normal;
	text-decoration:none;
	line-height:100%;
}
a:link { color:#72132D; }
a:visited { color:#72132d; }
a:hover{text-decoration:underline; color:#CC0000}
a.black { color:#000000; line-height:120%;}
a.white {	color:#ffffff;}

.viewItemPageTableRight {
  width: 80%;
  height: 30px; 
  padding-top: 10px;
  valign: top;
}

/* spezielle Formatierung(Einrueckung) f�r Elemente der rechten Seite, die NICHT aus Listenelementen generiert werden*/
.viewItemPageTableRightIndent {
  width: 80%;
  height: 30px; 
  padding-top: 10px;
  padding-left: 4px;
  valign: top;
}

/* spezielle Formatierung(negative Einrueckung) f�r Elemente der rechten Seite, die dynamisch aus dem Java-Code heraus erzeugt werden*/
.viewItemPageTableRightDynamicElement {
  width: 80%;
  height: 30px; 
  padding-top: 10px;
  padding-left: -50px;
  valign: top;
}

.viewItemPageTableLeft {
  width: 20%;
  align: top;
  height: 30px; 
  padding-top: 10px;
  valign: top;
}

/* Styles for search result list (hit list) */
.searchHitResult {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 12x;
  font-style: italic;
}

.searchHitResultHighlighted {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 12x;
  font-weight: bold;
  background-color: #FFE4B5;
}

.searchHitResultFileName {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif; 
  font-size: 12x;
  font-weight: bold;
}

.editItemOuterPanel {
  margin-left: 10px;
}

.editItemOuterBlockPanel {
  margin-left: 10px; 
  margin-top: 10px;
}

.editItemInnerPanel {
  margin-left: 0px; 
  margin-top: 0px;
}

.editItemLabelColumn {  
  width: 180px;
  height: 22px;
  vertical-align: top; 
}

.editItemFieldColumn {
  vertical-align: top; 
}

.editItemButtonColumn {
  vertical-align: top; 
}

.editItemBlankColumn {  
  width: 335px;
  height: 22px;
  vertical-align: top; 
}

.editItemTextArea {  
  height: 60px; 
  width: 320px;
  margin-right: 5px;
}

.affiliationDetailTextArea {  
  height: 80px; 
  width: 600px;
  margin-left: 10px;
  margin-top: 10px;
}

.editItemFileUpload {  
  width: 324px;
  margin-right: 5px;
}

.editItemTextFieldDate {  
  width: 75px;
}

.editItemTextFieldSingle {  
  width: 10px;
}

.editItemTextFieldVeryShort {  
  width: 75px;
}

.editItemTextFieldShort {  
  width: 150px;
}

.editItemTextFieldMedium {  
  width: 320px;
}

.editItemTextFieldLong {  
  width: 450px;
}

.editItemComboBoxLanguage {  
  width: 45px;
  margin-right: 5px;
  margin-top: 1px;
}

.editItemComboBoxVeryShort {  
  width: 75px;
}

.editItemComboBoxShort {  
  width: 150px;
}

.editItemComboBoxMedium {  
  width: 320px;
}

.editItemComboBoxLong {  
  width: 450px;
}

.editItemBlockHeaders {
  margin-top: 10px;
  font-weight: bold;
}

.editDynamicButton {  
  height: 20px;
  width: 55px;
}

.linkNavigation { color: #660000; font-size: 1.0em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.linkNavigation:link { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.linkNavigation:visited { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.linkNavigation:active { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  }
.linkNavigation:hover { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }


.subLinkNavigation { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.subLinkNavigation:link { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.subLinkNavigation:visited { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  ; }
.subLinkNavigation:active { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none  }
.subLinkNavigation:hover { color: #660000; font-size: 0.95em; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }


