@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

/*GENERAL*/

.fullItem {
	border-top-width: 0.19em !important;
	border-top-style: solid;
	border-bottom-width: 0.09em !important;
	border-bottom-style: solid;
}

.fullItem .seperator {
	width: 0.09em;
	border-top-width: 1.3em;
	border-style: solid;
}

/*HEADER*/

@media print {
	
	.fullItem .fullItemControls {display: none;}
}

.fullItem .fullItemControls .seperator {
	margin-top: 0.45em;
}

.fullItem .fullItemControls a {
	padding: 0em 0.19em 0em 0.19em !important;
	margin: 0.36em 0.28em 0.45em 0.27em;
}

.fullItem .itemBlock, .fullItem .itemHeader {
	border-top-width: 0.09em !important;
	border-top-style: solid !important;
}

.fullItem .itemHeadline {
	width: 53.82em;
}

.fullItem .listItem .itemHeadline {
	width: 53.82em;
}

.fullItem .listItem .itemHeader {
	margin-left: 5.18em;
	border-top-width: 0.00em !important
}

.fullItem .itemBlockSubHeader {
	margin-left: -0.74em;
}

.fullItem .listItem .itemHeader, .fullItem .listItem .shortView {
	margin-bottom: 0.5em;
}

/*BODY*/

.fullItem .itemBlock .expand, .fullItem .itemBlock .collapse {
	margin-left: 0.73em;
	margin-top: 0.19em;
	padding-bottom: 0.19em;
}

.itemBlock .itemBlockContent {
	width: 66.74em;
}

.itemBlock .itemLine {
	width: 66.74em;
	padding-bottom: 0.74em;
	border-top-width: 0.09em !important;
	border-top-style: solid !important;
}

.fullItem .noTopBorder {
	border-top-width: 0px !important;
}

.fullItem .listItem {
	padding-bottom: 0.37em;
}

.itemBlock b {
	font-weight: normal;
}

.itemBlock .firstLine {
	border-top-width: 0.00em !important;
	padding-top: 0.74em;
	padding-bottom: 0.74em;
}

.itemLine .affiliation {
	width: 42em;
}

.itemLine .creator {
	width: 43.37em;
}

.fullItem .listItemLine, .fullItem li {
	padding-top: 0px;
	padding-bottom: 0px;
}

.fullItem .listItemLine .labelLine {
	width: 22.45em;
	margin-right: 0.82em !important;
}

.fullItem .lineToolSection, .fullItem .sectionToolSection {
	padding-top: 0px;
	padding-bottom: 0px;
}

.fullItem .lineToolSection {
	margin-top: -1.7em;
}

.fullItem .sourcesControls input, .fullItem .sourcesControls button {
	margin-top: 0.46em;
}

.fullItem .inputTxtArea {
	height: 4em;
}

.fullItem .checkboxTripleGroup {
	width: 30.46em;
}

.formButtonArea {
	margin-top: 0.10em;
}

.fullItem .toTextAreaBottom {
	margin-top: 1.00em;
}

.fullItem .labelToTextAreaBottom {
	margin-top: 2.56em;
}

.largeFormPush {
	margin-right: 2.36em;
}
