.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: inherit;
    text-align: center;
    background-color: inherit;
    border-radius: .25rem;
}
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}