<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>${subject}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div align="center">${citation}</div>

Dear author,<br/>
<p>In order to make your publications visible in the sense of Open Access, we will deposit them in our publication database GFZpublic (<a href="https://gfzpublic.gfz-potsdam.de/">https://gfzpublic.gfz-potsdam.de</a>). The basis for this is the secondary publication right according to § 38 para. 4 of the German Copyright Law. For this we require the accepted manuscript version (final draft) of your article.</p>
<p>According to the Helmholtz Association's Open Access Policy (<a href="https://doi.org/10.2312/os.helmholtz.018">https://doi.org/10.2312/os.helmholtz.018</a>), the aim is to achieve a general increase of Open Access publications to 100% by 2025 and to permanently meet this target in subsequent years.</p>
<p>Please send us your accepted manuscript version to <a href="mailto:openaccess@gfz-potsdam.de">openaccess@gfz-potsdam.de</a></p> 

<p>If you have any questions, please do not hesitate to contact us.<br/>
Your library<br/></p> 

<p>You can find more information at:<br/> 
<a href="https://bib.telegrafenberg.de/en/publishing/open-access">https://bib.telegrafenberg.de/en/publishing/open-access</a></p>
<br/><br/>

Liebe*r Autor*in,<br/>
<p>um Ihre Publikationen im Sinne von Open Access sichtbar zu machen, stellen wir diese als Zweitveröffentlichung über unsere Publikationsdatenbank GFZpublic (<a href="https://gfzpublic.gfz-potsdam.de/">https://gfzpublic.gfz-potsdam.de</a>) zur Verfügung. Grundlage hierfür ist das Zweitveröffentlichungsrecht nach § 38 Abs. 4 UrhG. Dazu benötigen wir die akzeptierte Manuskriptversion (Final Draft) Ihres Artikels.</p>
<p>Gemäß der Open-Access-Richtlinie der Helmholtz-Gemeinschaft (<a href="https://doi.org/10.2312/os.helmholtz.018">https://doi.org/10.2312/os.helmholtz.018</a>) soll eine generelle Erhöhung des Open-Access-Anteils auf 100% bei Publikationen bis 2025 sowie eine dauerhafte Erfüllung dieser Zielmarke in den Folgejahren erreicht werden.</p>
<p>Senden Sie uns daher Ihre akzeptierte Manuskriptversion an <a href="mailto:openaccess@gfz-potsdam.de">openaccess@gfz-potsdam.de</a></p>

<p>Für Rückfragen stehen wir natürlich gern zur Verfügung.<br>
    Ihre Bibliothek<br/></p>

<p>Weitere Informationen finden Sie unter:<br/>
    <a href="https://bib.telegrafenberg.de/publizieren/open-access">https://bib.telegrafenberg.de/publizieren/open-access</a></p>
</body>
</html>