<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>${subject}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div align="center">${citation}</div>

Liebe*r Autor*in,<br/>
<p>„Maximize research usage and impact by maximizing user access to it.“</p>
<p>Das GFZ und die Helmholtz-Gemeinschaft fördern „Open Access“. Unbeschränkter, offener Zugang zu einer Publikation über das Internet erhöhen deutlich die Wahrnehmung des Aufsatzes durch Ihre Kolleg*innen. Dies bedeutet in der Konsequenz höheren Impakt Ihrer Forschungsergebnisse.</p>
<p>Sie haben in mit Verlagen geschlossenen Verträgen bei Subskriptionszeitschriften zwar alle Verwertungsrechte an diese abgegeben, allerdings gewähren Verlage unter Umständen pauschal oder unter bestimmten Bedingungen Zweitverwertungsrechte.</p> 
<p>Seit dem 1.1.2014 ermöglicht das deutsche Urheberrecht darüber hinaus ein sogenanntes Zweitverwertungsrecht, das Ihnen als Autor*in das Recht gibt, eine ‚akzeptierte Manuskriptversion‘ nach 12 Monaten offen zugänglich zu machen. „Auch dann, wenn … dem Verleger … ein ausschließliches Nutzungsrecht eingeräumt wurde“ (§ 38 Abs. 4 UrhG).</p>
<p>Konkret bedeutet das, dass es möglich ist, die "Final Draft"-Version ihrer Aufsätze im Rahmen unserer Publikationsdatenbank (Institutional Repository, <a href="https://gfzpublic.gfz-potsdam.de">https://gfzpublic.gfz-potsdam.de</a>) ein weiteres Mal zu veröffentlichen (der Grüne Weg des Offenen Zugangs) und damit den Volltext für Suchmaschinen sehr gut findbar dauerhaft im Internet zur Verfügung zu stellen.</p> 
<p>Als “Final Draft“ gilt der Zustand Ihrer Aufsätze nach dem Peer Review. Allerdings ist es in der Regel nicht erlaubt, die endgültige, verlagsformatierte PDF-Version zur Zweitveröffentlichung zu nutzen. Anders ausgedrückt: benötigt wird eine Version Ihrer Aufsätze, die inhaltlich der in der Zeitschrift veröffentlichten Version entspricht, sich aber äußerlich von der verlagsformatierten Version unterscheidet (z.B. Ihr finales „Word“-Dokument oder ähnliches).</p> 
<p>Bitte senden Sie eine solche Version Ihres Aufsatzes zur Zweitveröffentlichung an die folgende Mailadresse: <a href="mailto:openaccess@gfz-potsdam.de">openaccess@gfz-potsdam.de</a> und sorgen Sie damit für eine breitere Wahrnehmung und damit die Chance auf höhere Zitationsraten Ihrer Artikel.</p> 
<br/>
Für Rückfragen stehen wir natürlich gerne zur Verfügung.<br/> 
Ihre Bibliothek<br/><br/>

Weitere Informationen finden Sie unter:<br/> 
<a href="https://os.helmholtz.de/">https://os.helmholtz.de/</a>   - Die Helmholtz Open Access Seite<br/>
<a href="https://bib.telegrafenberg.de/publizieren/open-access/">https://bib.telegrafenberg.de/publizieren/open-access/</a>
<br/><br/><br/><br/>
Dear author,<br/>
<p>„Maximize research usage and impact by maximizing user access to it.“</p>
<p>GFZ and Helmholtz Association support ‚Open Access‘. Open access maximizes the visibility of your work. This means also a potential higher impact of your research results.</p>
<p>With signing a contract with publishers of subscription journals, normally you give away all rights for re-use. Often publishers grant you some rights to republish your work but apply restrictions.</p> 
<p>Furthermore the German Copyright law since 01.01.2014 grants you as an author the right to make your final manuscript version accessible 12 month after publication (§ 38 Abs. 4 UrhG).</p>
<p>This means in many cases we can make your work accessible, mostly as ‘final draft’ (http://bib.telegrafenberg.de/en/publishing/open-access/final-draft/)  via our institutional repository, the GFZ publication database gfzpublic.gfz-potsdam.de.</p>
<p>Please send  a final draft version of your article to <a href="mailto:openaccess@gfz-potsdam.de">openaccess@gfz-potsdam.de</a></p>
<p>The library will take care of legal restrictions and make your work, if possible, persistently open accessible worldwide.</p>
<br/>
Please contact us for more information.<br/>
Your library<br/><br/>

For more information:<br/>
<a href="https://os.helmholtz.de/">https://os.helmholtz.de/</a><br/>
<a href="https://bib.telegrafenberg.de/publizieren/open-access/">https://bib.telegrafenberg.de/publizieren/open-access/</a>
</body>
</html>