<div class="container">
  <h3 class="text-info">Organizational Units Administration</h3>
  <div class="card-deck">
    <div *ngIf="!external" class="card text-white bg-info text-right">
      <div class="card-body">
        <h4 class="card-title">Max Planck Society</h4>
        <input type="submit" class="btn btn-info btn-sm" name="add" value="+" (click)="addNewOrganization()" />
        <input type="button" class="card-link btn-outline-info text-light" (click)="external = true; getRidOfChildren(dummy)" value="External Organizations">
      </div>
      <div class="row">
        <div class="col-4 p-3">
          <input class="form-control form-control-sm" type="text" name="searchTerm" [(ngModel)]="searchTerm" (keyup)="getNames(searchTerm)"
            placeholder="search by name" id="searchTerm">
          <div *ngIf="ounames.length > 0">
            <ul class="list-group" *ngFor="let name of ounames" (clickOutside)="close()">
              <li selected-item-color="#8ee4f1" class="list-group-item-info text-left" (click)="select(name)">
                <small>{{name.metadata.name}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul id="mpg-org-units" class="list-group w-100">
        <div selected-item-color="#8ee4f1" class="list-group-item list-group-item-info text-right w-100 p-1" *ngFor="let mpgOu of mpgOus | async">
          <div class="row">
            <div class="col-sm-11" (click)="onSelect(mpgOu)">
              <span class="text-info h-100"> {{mpgOu.metadata.name}}</span>
            </div>
            <div class="col-sm-1">
              <input *ngIf="mpgOu.hasChildren && current === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildren(mpgOu.objectId)"
                value="more">
              <input *ngIf="mpgOu.objectId === current" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildren(mpgOu.objectId)"
                value="less">
            </div>
          </div>
          <ul *ngIf="mpgOu.objectId === current" class="list-group w-100">
            <div class="list-group-item list-group-item-info bg-light p-1" *ngFor="let child of children | async" [class.selected]="isSelected(child)">
              <div selected-item-color="#8ee4f1" class="row m-0">
                <div class="col-sm-11" (click)="onSelect(child)">
                  <span class="badge text-info">></span>
                  <span class="text-info">{{ child.metadata.name }}</span>
                </div>
                <div class="col-sm-1">
                  <input *ngIf="child.hasChildren && currentChild === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildrenOfChild(child.objectId)"
                    value="more">
                  <input *ngIf="child.objectId === currentChild" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildrenOfChild(child.objectId)"
                    value="less">
                </div>
                <ul *ngIf="child.objectId === currentChild" class="list-group w-100">
                  <div selected-item-color="#8ee4f1" (click)=onSelect(grandChild) class="list-group-item list-group-item-info p-1" *ngFor="let grandChild of grandChildren | async">
                    <span class="badge text-info">>></span>
                    <span class="text-info">{{ grandChild.metadata.name}}</span>
                  </div>
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </ul>
    </div>
    <div *ngIf="external" class="card text-white bg-info text-right">
      <div class="card-body">
        <h4 class="card-title">External Organizations</h4>
        <input type="button" class="btn-outline-info card-link text-light" (click)="external = false; getRidOfChildren(dummy)" value="Max Planck Society">
      </div>
      <div class="row">
        <div class="col-4 p-3">
          <input class="form-control form-control-sm" type="text" name="searchTerm" [(ngModel)]="searchTerm" (keyup)="getNames(searchTerm)"
            placeholder="search by name" id="searchTerm">
          <div *ngIf="ounames.length > 0">
            <ul class="list-group" *ngFor="let name of ounames" (clickOutside)="close()">
              <li selected-item-color="#8ee4f1" class="list-group-item-info text-left" (click)="select(name)">
                <small>{{name.metadata.name}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul id="ext-org-units" class="list-group w-100">
        <div selected-item-color="#8ee4f1" class="list-group-item list-group-item-info text-right d-inline-block w-100 p-1" *ngFor="let extOu of extOus | async">
          <div class="row">
            <div class="col-sm-11" (click)="onSelect(extOu)">
              <span class="text-info"> {{extOu.metadata.name}}</span>
            </div>
            <div class="col-sm-1">
              <input *ngIf="extOu.hasChildren && current === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildren(extOu.objectId)"
                value="more">
              <input *ngIf="extOu.objectId === current" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildren(extOu.objectId)"
                value="less">
            </div>
          </div>
          <ul *ngIf="extOu.objectId === current" class="list-group w-100">
            <div class="list-group-item list-group-item-info bg-light p-1" *ngFor="let child of children | async" [class.selected]="isSelected(child)">
              <div selected-item-color="#8ee4f1" class="row m-0">
                <div class="col-sm-11" (click)="onSelect(child)">
                  <span class="badge text-info">></span>
                  <span class="text-info">{{ child.metadata.name }}</span>
                </div>
                <div class="col-sm-1">
                  <input *ngIf="child.hasChildren && currentChild === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildrenOfChild(child.objectId)"
                    value="more">
                  <input *ngIf="child.objectId === currentChild" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildrenOfChild(child.objectId)"
                    value="less">
                </div>
                <ul *ngIf="child.objectId === currentChild" class="list-group w-100">
                  <div selected-item-color="#8ee4f1" (click)="onSelect(grandChild)" class="list-group-item list-group-item-info p-1" *ngFor="let grandChild of grandChildren | async">
                    <span class="badge text-info">>></span>
                    <span class="text-info"> {{ grandChild.metadata.name}}</span>
                  </div>
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>