<div class="container">
  <h3 class="text-info">Organizational Units Administration</h3>
  <div class="card-deck">
    <div *ngIf="!external" class="card text-white bg-info text-right">
      <div class="card-body">
        <h4 class="card-title">Max Planck Society</h4>
        <input type="submit" class="btn btn-info btn-sm" name="add" value="+" (click)="addNewOrganization()" />
        <input type="button" class="card-link btn-outline-info" (click)="external = true" value="External Organizations">
      </div>
      <div class="row">
        <div class="col-4 p-3">
                <input class="form-control form-control-sm" type="text" name="searchTerm" [(ngModel)]="searchTerm" (keyup)="getNames(searchTerm)"
                      placeholder="search by name" id="searchTerm">
                <div *ngIf="ounames.length > 0">
                    <ul class="list-group" *ngFor="let name of ounames" (clickOutside)="close()">
                        <li selected-item-color="#8ee4f1" class="list-group-item-info text-left" (click)="select(name)"><small>{{name.metadata.name}}</small></li>
                    </ul>
                </div>
            </div>
      </div>
      <div id="dynamic_accordion">
        <div class="card bg-info" *ngFor="let mpgOu of mpgOus | async">
              <a class="collapsed text-white" data-toggle="collapse" [attr.href]="'#'+mpgOu.objectId" (click)="getChildren(mpgOu.objectId)">
                {{mpgOu.metadata.name}}
              </a>
    
          <div [attr.id]="mpgOu.objectId" class="collapse" data-parenz="#dynamic_accordion">
            <div class="card-body">
              <div id="dynamic_child_accordion">
                children
                <div class="card" *ngFor="let child of children | async">
                      <a class="collapsed" data-toggle="collapse" [attr.href]="'#'+child.objectId" (click)="getChildren(child.objectId)">
                        {{child.metadata.name}}
                      </a>
            
                  <div [attr.id]="child.objectId" class="collapse" data-parenz="#dynamic_child_accordion">
                    <div class="card-body">
                      <div id="dynamic_grandchild_accordion">
                          grand children
                        <div class="card" *ngFor="let grandchild of grandChildren | async">
                              <a class="collapsed" data-toggle="collapse" [attr.href]="'#'+grandchild.objectId" (click)="getChildren(grandchild.objectId)">
                                {{grandchild.metadata.objectId}}
                              </a>
                    
                          <div [attr.id]="grandchild.objectId" class="collapse" data-parenz="#dynamic_grandchild_accordion">
                            <div class="card-body">
                              Dynamic GrandChild Body
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="external" class="card text-white bg-info text-right">
      <div class="card-body">
        <h4 class="card-title">External Organizations</h4>
        <input type="button" class="btn-outline-info card-link" (click)="external = false" value="Max Planck Society">
      </div>
      <div class="row">
        <div class="col-4 p-3">
                <input class="form-control form-control-sm" type="text" name="searchTerm" [(ngModel)]="searchTerm" (keyup)="getNames(searchTerm)"
                     placeholder="search by name" id="searchTerm">
                <div *ngIf="ounames.length > 0">
                    <ul class="list-group" *ngFor="let name of ounames" (clickOutside)="close()">
                        <li selected-item-color="#8ee4f1" class="list-group-item-info text-left" (click)="select(name)"><small>{{name.metadata.name}}</small></li>
                    </ul>
                </div>
            </div>
      </div>
      <ul id="ext-org-units" class="list-group w-100">
        <div selected-item-color="#8ee4f1" class="list-group-item list-group-item-info text-right d-inline-block w-100 p-1" *ngFor="let extOu of extOus | async">
          <div class="row">
            <div class="col-sm-11">
              <a (click)="onSelect(extOu)">
          <span class="text-info"> {{extOu.metadata.name}}</span>
        </a>
            </div>
            <div class="col-sm-1">
              <input *ngIf="extOu.hasChildren && current === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildren(extOu.objectId)" value="more">
              <input *ngIf="extOu.objectId === current" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildren(extOu.objectId)" value="less">
            </div>
          </div>
          <ul *ngIf="extOu.objectId === current" class="list-group w-100">
            <div selected-item-color="#8ee4f1" class="list-group-item list-group-item-info bg-light p-1" *ngFor="let child of children | async"
              [class.selected]="isSelected(child)">
              <a class="col-sm-11" (click)="onSelect(child)">
                <span class="badge text-info">></span><span class="text-info">{{ child.metadata.name }}</span>
              </a>
              <input *ngIf="child.hasChildren && currentChild === ''" type="button" class="btn btn-outline-info btn-sm" (click)="getChildrenOfChild(child.objectId)" value="more">
              <input *ngIf="child.objectId === currentChild" type="button" class="btn btn-outline-info btn-sm" (click)="getRidOfChildrenOfChild(child.objectId)" value="less">
              <ul *ngIf="child.objectId === currentChild" class="list-group w-100">
                <div selected-item-color="#8ee4f1" class="list-group-item list-group-item-info p-1" *ngFor="let grandChild of grandChildren | async">
                  <a class="col-sm-11" (click)=onSelect(grandChild)>
                  <span class="badge text-info">>></span><span class="text-info"> {{ grandChild.metadata.name}}</span>
                  </a>
                </div>
              </ul>
            </div>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>