@charset "UTF-8";
/*
 *
 * CDDL HEADER START
 *
 * The contents of this file are subject to the terms of the
 * Common Development and Distribution License, Version 1.0 only
 * (the "License"). You may not use this file except in compliance
 * with the License.
 *
 * You can obtain a copy of the license at license/ESCIDOC.LICENSE
 * or http://www.escidoc.de/license.
 * See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL HEADER in each
 * file and include the License file at license/ESCIDOC.LICENSE.
 * If applicable, add the following below this CDDL HEADER, with the
 * fields enclosed by brackets "[]" replaced with your own identifying
 * information: Portions Copyright [yyyy] [name of copyright owner]
 *
 * CDDL HEADER END
 */
/*
 * Copyright 2006-2012 Fachinformationszentrum Karlsruhe Gesellschaft
 * für wissenschaftlich-technische Information mbH and Max-Planck-
 * Gesellschaft zur Förderung der Wissenschaft e.V.
 * All rights reserved. Use is subject to license terms.
 */
/*
 ALL COLORS USED
 
 BACKGROUND		#E7E8E2
 LINK COLOR		#307086
 AUTHOR/ORG BG	#5A8D9E
 LIGHT LINES		#ACC6CF
 DROPDOWN/BG		#E0EAED
 INPUT BG		#F4F8F9
 PAGE TITLE		#183944
 ERROR MSG		#C65D1F
 SUCCESS MSG		#66852C
 DEACTIVATED		#777777
 DEA LIGHT		#C9C9C9
 TEXT			#515151
 TEXT LIGHT		#B9B9B9
 MOUSEOVER		#222222
 INPUT TEXT		#000000
 FORM BG			#FFFFFF
 
 */
/*FONT DEFINITION*/
/*HEADER*/
/*H1*/
h1 {
    color: #0F313E;
    font-weight: normal;
}

/*H2*/
h2 {
    font-weight: normal;
}

/*H3*/
h3 {
    font-weight: normal;
}

/*H4*/
h4 {
}

/*H5*/
h5 {
}

/*H6*/
h6 {
    font-weight: bold;
    color: #515151;
    margin: 0px;
}

/*GENERAL*/
/*FONT RELATED*/
body, label, input, textarea, select, button, input.numberLabel, h2, h3, h6, a {
    font-family: Trebuchet, "Trebuchet MS", sans-serif;
}

input[type = text], textarea {
    font-family: "Courier New", Courier, serif;
}

h1, h4, h5 {
 /*   font-family: "Myriad Pro Condensed", "Arial Narrow", sans-serif; */
}

/*
 *
 *  COMPONENT RELATED COLORING
 *
 */
/*GENERAL*/
body {
    background-color: #E7E8E2;
    color: #515151;
    line-height: 145%;
}

body .footer {
	display:none;
}

body .wrapper, body .footer {
    background-color: #E7E8E2;
    border-right: 1px dotted #307086;
    border-left: 1px dotted #307086;
}

/*FF3.x Print Issue (No more relevant in FF4)*/
@media print {body * {
        overflow: visible !important;
        float: none !important;
        border-top: 0px #FFFFFF !important;
        border-right: 0px #FFFFFF !important;
        border-bottom: 0px #FFFFFF !important;
        border-left: 0px #FFFFFF !important;
		list-style:none !important;
}

	/*Print Lists*/

.listItemLine, .blockHeader, .blockHeader *, .listItem {
        text-align: left !important;
        float: left !important;
        clear: both !important;
}

	/*Print Items*/

.itemLine, .itemBlockContent, .fullItem .blockHeader {
        text-align: left !important;
        float: left !important;
}

.paginator * {
        float: left !important;
}

.blockHeader {
        font-size: 1.4em !important;
        margin-bottom: 0.6em !important;
}

.min_imgBtn, .std_imgBtn, .big_imgBtn, .lineToolSection, .formButtonArea {
        visibility: hidden !important;
}

.messageArea {
        visibility:hidden !important;
}
}

input, button, textarea, select {
    color: #000000;
}

a, a:visited {
    color: #307086;
    text-decoration: none;
}

a.OraLinkDisabled {
    color: #515151;
    cursor: default;
}

a:hover, a:focus, input:hover, input:focus, button:hover, button:focus {
    color: #222222;
    text-decoration: none;
}

input[type =
"button"]:hover, input[type = "submit"]:hover, input[type = "reset"]:hover, button:hover {
    cursor: pointer;
}

input, textarea, select {
    border-style: solid;
    border-color: #A7A7A7;
}

input[type =
"text"], textarea, select {
    background-color: #F4F8F9;
}

a:hover, a:focus {
    /*	text-decoration: underline; */
    cursor: pointer;
}

a:disabled, a.disabled, input:disabled, input.disabled, button:disabled, button.disabled {
    cursor: default;
    color: #777777;
}

/*SEPERATORS*/
.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator {
    background-color: #ACC6CF;
}

.itemList .seperator {
    background-color: #E7E8E2;
}

.fullItem .seperator, .tiledList .seperator {
    background-color: #FFFFFF;
}

.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator {
    border-color: #E7E8E2;
}

.fullItem .fullItemControls .seperator {
    background-color: #FFFFFF;
    border-color: #307086;
}

.fullItem .easySubmissionHeader .seperator {
    background-color: #FFFFFF;
    border-color: #ACC6CF;
}

.itemList .seperator, .fullItem .seperator, .tileControlIconArea {
    border-color: #B9B9B9 !important;
}

.contentMenu .void {
    border-color: #E7E8E2;
    background-color: #E7E8E2;
}

/*HEADER
 
 -----------------------------------------------
 
 |[ Logo ]                 [      Meta Menu   ]|
 
 |                           [   Breadcrumb   ]|
 
 |[ Main Menu ]                   [   Title   ]|
 
 |[ Options ]                        	      |
 
 |[ Actions ]                         	      |
 
 |[ Message ]                        	      |
 
 -----------------------------------------------
 
 */
/*COLORING FOR ALL MENU INPUTS AND LABELS*/
.metaMenu input, .metaMenu button, .metaMenu a, .quickSearchMenu a, .quickSearchCheckBoxMenu label, .advancedSearchMenu input, .advancedSearchMenu a, .organisationSearchMenu input, .organisationSearchMenu a, .mainMenu input, .mainMenu a, .contentMenu input, .contentMenu a {
    background-color: #E7E8E2;
    color: #307086;
}

.logoAlternate span {
    font-weight: bold;
    color: #515151;
}

.logoAlternate span a {
    font-weight: normal;
}

.contentMenu span {
    color: #515151;
}

.metaMenu input:hover, .metaMenu input:focus, .metaMenu button:hover, .metaMenu button:focus, .metaMenu a:hover, .metaMenu a:focus, .quickSearchMenu input:hover, .quickSearchMenu input:focus, .quickSearchMenu a:hover, .quickSearchMenu a:focus, .quickSearchCheckBoxMenu label:hover, .quickSearchCheckBoxMenu label:focus, .advancedSearchMenu input:hover, .advancedSearchMenu input:focus, .advancedSearchMenu a:hover, .advancedSearchMenu a:focus, .organisationSearchMenu input:hover, .organisationSearchMenu input:focus, .organisationSearchMenu a:hover, .organisationSearchMenu a:focus, .mainMenu input:hover, .mainMenu input:focus, .mainMenu a:hover, .mainMenu a:focus, .contentMenu input:hover, .contentMenu input:focus, .contentMenu a:hover, .contentMenu a:focus {
    color: #515151;
}

/*COLORING FOR BREADCRUMB SLASHES*/
.breadcrumb li {
    color: #636363;
}

/*COLORING FOR BREADCRUMB TEXT*/
.breadcrumb li a, .breadcrumb li a:visited {
    color: #307086;
}

.breadcrumb li a:hover, .breadcrumb li a:focus {
    color: #222222;
}

.contentMenu span, .contentMenu input, .contentMenu a {
    font-weight: bold;
}

/*Content
 
 -----------------------------------------------
 
 |         [      Paginator      ]             |
 
 |                               	      	  |
 
 |[ Lists & Full Item ]                        |
 
 |         [        Footer       ]             |
 
 -----------------------------------------------*/
/*EXT. PAGINATOR*/
.paginatorFallbackGoBtn {
    background-color: #E7E8E2;
    color: #307086;
}

/*PAGE BROWSER*/
.pageBrowser input, .pageBrowser button, .pageBrowser a {
    background-color: #E7E8E2;
    color: #307086;
}

.pageBrowser input:hover, .pageBrowser button:hover, .pageBrowser a:hover, .pageBrowser input:focus, .pageBrowser button:focus, .pageBrowser a:focus {
    color: #515151;
    cursor: pointer;
}

.pageBrowser .actual, .pageBrowser .actual:hover, .pageBrowser .actual:focus {
    font-weight: bold;
    color: #515151;
    cursor: pointer;
}
@media print { .pageBrowser .actual {
        font-weight: normal;
        background-color: white;
}
}

.pageBrowser :disabled, .pageBrowser :disabled:hover, .pageBrowser :disabled:focus, .pageBrowser .deactivated, .pageBrowser .deactivated:hover, .pageBrowser .deactivated:focus {
    color: #777777;
}

/*HEADER-SECTION*/
.headerSection h1 {
	font-family: "Myriad Pro Condensed", "Arial Narrow", sans-serif;
}

.header.alternateHeader .mainMenu a.active {
	color: #515151;
}

/* INFO PAGE*/
.infoPage .sideSection {
    border-style: solid;
    border-left-color: #B9B9B9;
}

.infoPage .videoPreview {
    border-style: solid;
    border-color: #222222;
}

/*CUSTOMIZED SELECTBOX - changed metaMenu select / created selectionBox + selectContainer -2011-06-17 */
.metaMenu .selectContainer select {
	float:right;
	margin-top:-1.63em;
	margin-left:auto;
	margin-right:-0.0909em;
	
	filter:alpha(opacity=0);
	opacity:0;
	-moz-opacity:0;
	cursor:pointer;
	background-color:#E7E8E2;
	color:#307086;
}
.metaMenu .selectionBox {
	color:#307086;
	margin-left:0.5454em;
	float:left;
}
.metaMenu .selectContainer {
	margin-left:0.001em;
	padding-top:0.3636em;
	padding-bottom:0.18em;
	height:1.72em; 
	border:none;
	background-color:#E7E8E2;
}
.metaMenu .selectContainer .selectboxIcon {
	float:right;
	padding:0 0.1818em 0 0;
	margin:-1.5454em 0 0 0;
	background-color:transparent;
}


.selectContainer select {
	float:left;
	margin-top:-1.3636em;
	margin-left:-0.0909em;
	filter:alpha(opacity=0);
	opacity:0;
	-moz-opacity:0;
	cursor:pointer;
	background-color:#ffffff;
	color:#000000;
	border-bottom-color:#9fafae;
	border-style:none;
}
.selectContainer .selectionBox {
	padding-left:0.2727em !important;
}
.selectionBox {
	color:#307086;
	text-align:left;
	cursor:pointer;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	height:1.3636em;
	overflow:hidden;
	font-weight:normal !important;
}
.selectContainer {
	padding-top:0em;
	padding-bottom:0.18em;
	height:1.3636em; 
	background-color:#F4F8F9;
	border:0.0909em solid #A7A7A7;
}
.selectboxIcon {
	float:right;
	padding:0 0.1818em 0 0;
	margin:-1.3636em 0 0 0;
	margin-right:0 !important; /*action menu fix*/
	background-color: #F4F8F9;
}

/*LISTS & FULL ITEM*/
/*GENERAL*/
.itemList, .tiledList, .fullItem {
    border-top-color: #307086;
    border-bottom-color: #B9B9B9;
}

/*PRE-HEADER*/
.preListHeader {
    border-top-color: #B9B9B9;
}

/*LIST HEADER*/
/*GENERAL*/
.listHeader a, .listHeader span {
    line-height: normal;
    font-weight: normal;
}

/*SELECT MENU*/
.itemList .checkBoxSelectButton {
    cursor: pointer;
}

.itemList .checkBoxSelectButton:hover {
    background-color: #FFFFFF;
}

.selectMenu {
    border-color: #ACC6CF;
    /*
     opacity: 0.95;
     filter: alpha(opacity=95);
     */
}

.itemList .checkBoxCloseSelectButton:hover, .selectMenu .checkBoxCloseSelectButton:focus {
    background-color: transparent;
}

.selectMenu, .selectMenu input {
    background-color: #FFFFFF;
}

.selectMenu a {
    color: #147DA2;
}

.selectMenu a:hover, .selectMenu input:hover {
    background-color: #5A8D9E;
    color: #000000;
}

.listBackground .ascSort, .listBackground .descSort {
    background-color: #FFFFFF;
}

/*LIST ITEM*/
/*GENERAL*/
.listItem, .listItem td {
    border-top-color: #B9B9B9 !important;
}

.searchHit {
    background-color: #ACC6CF;
}

.preListHeader, .fullItem, .tiledList, .listBackground, .listBackground .seperator {
    background-color: #ffffff;
}

.tiledList .metaDataSection, .itemTile .tileIconArea {
    border-color: #B9B9B9 !important;
    border-style: solid;
}

.tiledList .inAlbum, .fullItem .inAlbum, .activeAlbum, .activeAlbum .seperator {
    background-color: #3EABC9;
    border-color: #66852C !important;
}

/*ITEM HEADER*/
.fullItem .itemHeadline b {
    font-size: 16px !important;
    font-weight: normal;
	line-height:145%;
}

.listItem .itemHeadline b {
    font-size: 14px !important;
    font-weight: normal;
}

.listItem td .itemHeadline b {
    font-size: 11px !important;
    font-weight: normal;
}

.fullItem .easySubmissionHeader b {
    color: #B9B9B9;
    font-size: 16px;
}

.fullItem .easySubmissionHeader b.actual {
    color: #515151;
}

/*FULL ITEM HEADER*/
.fullItem .fullItemControls a {
    cursor: pointer;
}

.fullItem .fullItemControls .actual {
    color: #FFFFFF;
    background-color: #307086;
}

/*FULL ITEM BLOCK*/
.fullItem .metaDataSection, .fullItem .detailedItem, .fullItem .fullsizedBlock, .fullItem .splitBlockHeader, .fullItem .splitBlockBody {
    border-color: #B9B9B9 !important;
    border-style: solid;
}

.fullItem .itemBlock, .fullItem .itemHeader {
    border-top-color: #B9B9B9;
}

.itemBlock .voidBlock {
    color: #B9B9B9;
}

.fullItem li, .itemBlock .itemLine {
    border-top-color: #C9C9C9;
}

.itemBlock .newBlock {
    border-top-color: #515151;
}

.affHover {
    background-color: #E7E8E2;
}

.add, .remove {
    cursor: pointer;
}

.add:disabled, .remove:disabled {
    cursor: default !important;
}

.fullItem .groupBtn {
    /*font-weight: bold;*/
    color: #307086;
    background-color: #FFFFFF;
    text-align: left;
}

.fullItem .groupBtn:hover, .fullItem .groupBtn:focus {
    color: #222222;
    cursor: pointer;
}

.fullItem .groupBtn:disabled {
    color: #777777;
    cursor: default;
}

/*SINGLE ELEMENTS*/
.dateJSLabel {
    background-color: #E0EAED;
    color: #515151;
}

/*FORM BUTTONS*/
.cancelButton, .activeButton {
    border-style: solid;
    padding-top: 0.10em;
    padding-bottom: 0.10em;
}

.cancelButton {
    float: left;
    color: #307086;
    background-color: #E7E8E2;
    border-top-color: #E7E8E2;
    border-right-color: #307086;
    border-bottom-color: #307086;
    border-left-color: #E7E8E2;
}

.cancelButton:hover {
    color: #222222;
    background-color: #E7E8E2;
    border-top-color: #E7E8E2;
    border-right-color: #222222;
    border-bottom-color: #222222;
    border-left-color: #E7E8E2;
}

.activeButton {
    float: right;
    color: #FFFFFF !important;
    background-color: #307086 !important;
    border-color: #307086;
}

.activeButton:hover {
    color: #FFFFFF !important;
    background-color: #222222 !important;
    border-color: #222222;
}
.activeButton.disabled {
	background-color:#777777 !important;
	cursor:auto; 
}
.activeButton.disabled:hover {
	text-decoration:none;
}

/*AUTOSUGGEST*/
.ac_results {
    border-style: solid;
    border-color: #ACC6CF;
    background-color: #E7E8E2;
}

.ac_results li {
    border-bottom-style: solid;
    border-bottom-color: #ACC6CF;
    font-family: sans-serif;
}

.ac_over {
    cursor: pointer;
    background-color: #5A8D9E;
}

.ac_match {
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
}

/*BLANK INPUT*/
.blankInput {
    color: #B9B9B9;
}

/*MESSAGE AREAS*/
.messageArea {
    border-style: solid;
    border-color: #307086;
    background-color: #FFFFFF;
    margin-bottom: 1em;
}

.infoMessageArea {
	border: 1px solid #56871B !important;
    border-color: #56871B;
/*	position:absolute; */
}

.infoMessageArea h2 {
    color: #66852C;
}

.errorMessageArea {
	border: 1px solid #E95A29 !important; 
    border-color: #E95A29;
}

.errorMessageArea h2 {
    color: #C65D1F;
}

.absoluteMessageArea {
    position: fixed;
    z-index: 100;
}

.fixMessageBlockBtn, .fixErrorMessageBlockBtn, .fixSuccessMessageBlockBtn {
    float: right;
    background-color: #ffffff;
}

/*ERROR OR WARNING MESSAGES*/
.falseValue, .messageError, .messageWarn, .messageFatal {
    color: #C65D1F;
}

/*STATUS OR SUCCESS MESSAGE*/
.messageSuccess {
    color: #66852C;
}

.messageStatus {
    color: #66852C;
}

/*MANDATORY FIELD*/
.mandatory {
    /*		color: #C65D1F;
     font-weight: bold;
     */
}

/*UNDER REWORK*/
.underRework {
    background-color: #F43E71 !important;
}

.successMessageArea {
    border: 1px solid #147DA2 !important;
    border-color: #147DA2;
}

.inputInfoBox, .inputInfoBox a {
	text-align: center;
	font-weight: bolder;
	font-family: serif;
	border-left-width: 2px !important;
	border-right-width: 2px !important;
}


.languageArea .readonlyInput {
	background-color:transparent;
	border:none;
}
/*
.labelLine .groupBtn { /*browse by subject *//*
	float:right;
	text-align:right;
} */



/***** without content header / e.g. AffiliationDetailPage *****/
.withoutPageHeader {
	padding-top:2em;
}

.coneLogo {
	height:5.7272em;
	display:none;
}
.coneMainMenu {
	display:none;
}
.searchExportLogo {
	height:5.7272em;
	display:none;
}

/***** advanced search *****/
.checkboxDoubleContainer .large_checkbox label {
	white-space:normal;
}