/* TEXT FORMATTING AND DECORATION */ 
/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* f�r wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur F�rderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/
@media screen{
	#header {	
		background-image:url(../images/header_spring.jpg);
		background-repeat:no-repeat; 
		
	}
}
.headerLogo{  
	background: #FFF url(../images/logo.gif) no-repeat left 0em;
}

/* FLAGS */ 
.ger{
	background: #FFF url(../images/germany.gif) no-repeat;
}
.uk{
	background: #FFF url(../images/uk.gif) no-repeat;
}.fr{
	background: #FFF url(../images/france.gif) no-repeat;
}
.flapdown {		background: #808080 url(../images/flap_down.gif) no-repeat;
	/*background-color:none;*/
}

/* edit item icons*/
/*  ICONS  */

.icon{
	position:relative;
	top:-3px;
	width:23px;
	height:23px;
	margin-left: 5px;
	margin-right:5px;
	float:left;
}

.helpIcon{
	position:relative;
	top:0px;
/*	left:240px;*/
	width:18px;
	height:18px;
	backgound-color:#ffffff;	
	border:none;	
}

.helpIcon:hover{ 
	border:none;
}

.headingAndIcon{
	width:100%;
	height:25px;
	float:left;
	font-size:100%;
	
}



.addIcon{
	top:0px;	
	background-image:url("../images/add_file.gif");
	background-repeat:no-repeat;	
}

.removeIcon{
	top:0px;	
	background-image:url("../images/remove_file_22.gif");
	background-repeat:no-repeat;	
}


.uploadIcon{	
	background-image:url("../images/PM_SM_h2_files_locators_22.gif");
	background-repeat:no-repeat;
}

.URLIcon{	
	background-image:url("../images/PM_locator_22.gif");
	background-repeat:no-repeat;
}

.itemIcon{
	width:33px;
	height:33px;
	margin-right: 10px;
	float:left;
	background-image:url("../images/PM_sm_h1_32.gif");
	background-repeat:no-repeat;
}

.orientationHeader{
}

.basicIcon{	
	background-image:url("../images/PM_SM_h2_basic_22.gif");
	background-repeat:no-repeat;
}

.editItemBlockHeaders{
}

.affiliationsIcon{	
	background-image:url("../images/PM_SM_h2_creators_22.gif");
	background-repeat:no-repeat;	
}

.datesIcon{	
	background-image:url("../images/PM_SM_h2_publication_22.gif");
	background-repeat:no-repeat;
	
}

.detailsIcon{	
	background-image:url("../images/PM_SM_h2_details_22.gif");
	background-repeat:no-repeat;
	
}

.eventIcon{	
	background-image:url("../images/PM_SM_h2_event_22.gif");
	background-repeat:no-repeat;
	padding-bottom: 5px;
}

.sourceIcon{	
	background-image:url("../images/PM_SM_h2_source_22.gif");
	background-repeat:no-repeat;
}

.withdrawalIcon{	
	background-image:url("../images/PM_h1_withdrawn_22.gif");
	background-repeat:no-repeat;
}

.plaindocIcon{
	width:30px;
	height:30px;
	margin-right: 10px;
	float:left;
	background-image:url("../images/doctemp_30x30.gif");
	background-repeat:no-repeat;
}

/*********************************************************/

.pubItem{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.persOrg{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.fileUp{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.datesPub{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.detailsPub{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.eventPub{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.sourcePub{background: #FFF url(../images/document_icon.png) no-repeat left 0em;}
.singleItem h1{background-image:url(../images/document_icon.png);}
.list h1{background-image:url(../images/document_icon.png);}

.advancedSearch h1, .searchResult h1 {
	background-image:url(../images/advanced-search.png);
	background-repeat:no-repeat;
	height: 26px;
	padding: 0.2em 0em 0em 1.7em;	/* top right bottom left */ 
}



.addFieldset a{
	display: block;
	padding: 0em 1em 1em 3em;
	border: none;    background-repeat: no-repeat;
	margin: 0.5em 1em 0em 0em;
	background-position: left top;
	background-image: url(../images/add_file.gif);
}

.copyAndPasteReleaseNotes h2.about {
	overflow: visible;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/about.gif);
	margin-left: -40px;
	padding-left: 40px;
}

.copyAndPasteReleaseNotes h2.current {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/functions.gif);
	margin-left: -40px;
	padding-left: 40px;
}