<div class="container-fluid">
    <div class="card border-primary text-right m-1">
        <div class="card-header">
            <h4 class="card-title">search 4 users</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" novalidate (ngSubmit)="submit()">
                <div formArrayName="searchTerms">
                    <div *ngFor="let searchTerm of searchTerms.controls; let i=index">
                        <div [formGroupName]="i">
                            <search-term [searchTermForm]="searchTerms.controls[i]" [fields]="fields2Select" (notice)="handleNotification($event, i)"></search-term>
                        </div>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-1 ml-auto">
                        <input type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!searchForm.valid" value="submit" />
                    </div>
                </div>
            </form>
            <!--    <pre>{{searchForm.value | json}}</pre>-->
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card border-primary text-right m-1">
                <div class="row">
                    <label for="aggregationSelect" class="col-4 col-form-label col-form-label-sm"><span class="align-bottom">group by</span></label>
                    <div class="col-8">
                        <select class="select form-control form-control-sm" name="aggregationSelect" (change)="onAggregationSelect($event.target.value)">
                            <option *ngFor="let agg of aggregationsList" [value]="agg">{{agg}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="selected === 'creationDate'" class="card border-primary text-right m-1">
                <div class="card-header">
                    <h4 class="card-title">users / creationDate</h4>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li selected-item-color class="list-group-item text-primary p-1 justify-content-end" *ngFor="let year of years" (click)="onSelectYear(year)">
                        <span class="badge badge-primary">{{year.doc_count}}</span>
                        <span class="text-primary ml-2">{{year.key_as_string.substring(0,4)}}</span>
                        <li>
                </ul>
            </div>
            <div *ngIf="selected === 'organization'" class="card border-primary text-right m-1">
                <div class="card-header">
                    <h4 class="card-title">users / organization</h4>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li selected-item-color class="list-group-item text-primary p-1 justify-content-end" *ngFor="let ou of ous" (click)="onSelectOu(ou)">
                        <span class="text-primary mr-2">{{ou.key}}</span>
                        <span class="badge badge-primary">{{ou.doc_count}}</span>
                        <li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div>
                <span class="text-primary">your query returned {{total}} records</span>
                <div *ngIf="total > 0" class="has-text-centered">
                    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                    <pagination-controls class="admin-pagination" previousLabel="prev" nextLabel="next" maxSize=11 autoHide="true" (pageChange)="getPage($event)"
                        id="paginator"></pagination-controls>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li selected-item-color class="list-group-item text-primary justify-content-start p-1" *ngFor="let user of users | paginate: { id: 'paginator', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }"
                        (click)="onSelect(user)">
                        <span class="text-primary">{{user.objectId}}</span>
                        <span class="text-primary ml-2">{{user.name}}</span>
                        <span class="text-primary ml-2">({{user.loginname}})</span>
                        <span class="text-primary ml-2">{{user.affiliation?.name}}</span>
                    <li>
                </ul>
            </div>
        </div>
    </div>
</div>