<div class="container">
  <h3 class="text-secondary">Index Administration</h3>
  <div class="card bg-secondary text-right">
    <div class="card-body">
      <h4 class="text-white card-title">Indices</h4>
      <input type="submit" class="btn btn-secondary btn-sm" name="add" value="+" (click)="addNewIndex()" />
    </div>
    <div class="list-group-flush">
      <div class="list-group-item list-group-item-secondary list-group-item-action py-0 d-flex flex-sm-row no-gutters align-items-center" *ngFor="let index of indices" (click)="goTo(index.index)">
        <span class="col-sm-1 text-right mr-2" [innerHtml]="index['docs.count']"></span>
        <span class="col-sm-4 text-left text-truncate" [innerHtml]="index.index || index"></span>
        <span class="col-sm-3 text-left text-truncate" [innerHtml]="index.status"></span>
        <span class="col-sm-3 text-left text-truncate" [innerHtml]="index.alias"></span>
        <div class="col-sm-1"><input type="submit" class="btn btn-outline-secondary btn-sm float-right" (click)="delete(index); $event.stopPropagation()"
          name="delete" value="x" /></div>
      </div>
    </div>
  </div>
  <!--<pre>{{aliases | json}}</pre>-->
  <!--<pre>{{indices | json}}</pre>-->
</div>