/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* f�r wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur F�rderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

 .borderless {
 	border: 0px;
 }

/* BOX */

 .easySubmissionBox {
 	margin:10px;
 	margin-left: 75px;
 	margin-right: 75px;
 	width: 600px;
	padding: 0px;
	padding-bottom: 25px;
	border:1px solid #DDDDDD;
	background-color:#FFFFFF;	
 }
 
 /* HEADER */
 .easySubmissionBoxHeader {
 	float: left;
 	margin: 0px;
 	padding: 0px;
 	width: 600px;
 	border: 0px;
 	background-color:#DDDDDD;	
 }
 
  .easySubmissionBoxHeader ol {
  	list-style: none;
  	width: 100.1%;
	float: left;
	text-align: right;
	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionBoxHeader ol li {
  	float: left;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
  }  
  
  .three li {
  	width: 33.3%;
  	
  }
  
  .four li {
  	/*width: 23%;*/
  	width: 25%;
  }
  
  .five li {
  	width: 20%;
  }
  
  .easySubmissionBoxHeader ol li div {
  	border:0px;
  	margin: 0px;
  	padding-right: 30px;
  	class: nowrap;
  	color: #FFFFFF;
  }
  
  .easySubmissionBoxHeader ol li span {
  	border-right: 2px solid #FFFFFF;
  	float: right;
  	margin-top: -20px;
  	padding-right: 2px;
  	class: nowrap;
  	color: #FFFFFF;
  	font-size: 250%;
  }
    
  .easySubmissionActivated {
	background-color:#555555;

  }
  
  .easySubmissionDeactivated {
  	opacity: 0;
	filter: alpha(opacity=0);
  }
  
  .easySubmissionDone {
  	background-color:#555555;
  	opacity: 0.4;
	filter: alpha(opacity=50);
  }
  
 .easySubmissionLast > span{
  	border-right: 2px solid #555555 !important;
  }
  
  /* BODY */
  
  .easySubmissionBoxBody {
  }
  
  .easySubmissionBoxBody h3 {
  	margin-left: 50px;
  	margin-top: 75px;
  	margin-bottom: 25px;
  }
  
  .easySubmissionBoxBodyContent {
  	margin-left: 50px;
  	margin-right: 25px;
  	margin-bottom: 15px;
  }
  
  .easySubmissionBoxBodyContent h3 {
  	width: 510px;
  	display: block;
  	overflow: hidden;
  	margin-top: 0px;
  	margin-left: 0px;
  	margin-bottom: 25px;
  }

  .easySubmissionBoxButton {
  	background-color: #FFFFFF;
  	border:1px solid #DDDDDD;
  }

  .easySubmissionBoxBodyLine {
  	width: 510px;
  	margin-top: 7px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionBoxBodyLine > input {
  	margin-right: 2px;
  }
 
  .easySubmissionBoxBodyLine > label {
  	font-size: 1em;
  }
 
  .easySubmissionBoxBodyLine > * {
  	float: left;
  }

  .easySubmissionBoxBodySubLine {
  	margin-left: 17px;
  	margin-top: 7px;
  	width: 470px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionBoxBodySubLine > * {
	float: left;
  }
  
  .easySubmissionBoxBodySubLine input, .easySubmissionBoxBodySubLine > button {
	margin-right: 5px;
  }
  
  .trinidadRadiobuttonTable {
	width: 400px;
  }

  .easySubmissionSubBox {
  	width: 510px;
  	padding-bottom: 7px;
  	display: block;
  	overflow: hidden;
	border:1px solid #AFAFAF;
	float: left;
  }
  
  .easySubmissionSubBoxHeader {
  	margin: 0px;
	background-color: #DDDDDD;
	border-bottom: 1px solid #AFAFAF;
  }
  
  .easySubmissionRadioButtonWorkaround {
  	width:15px;
  	height: 12px;
  }
  
  .bibTeXImportIDItem {
  	width: 200px;
  	display: block;
  	overflow: hidden;
  	margin-left: 20px;
  	float: left;
  }
  
  .bibTeXImportIDItem > * {
	float: left;
  }
  
  .bibTeXImportIDItem input, .bibTeXImportIDItem select, .bibTeXImportIDItem label {
  	width: 190px;
  	display: block;
  	overflow: hidden;
  }

  .easySubmissionBasicInfItem {
  	width: 250px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionBasicInfItem input, .easySubmissionBasicInfItem select, .easySubmissionBasicInfItem label, .easySubmissionBasicInfItem textarea {
  	width: 230px;
  }

  .easySubmissionBasicInfItem > * {
  	float: left;
  }

  .easySubmissionFileListBox {
  	margin-top: 10px;
  	width: 415px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionFileListBox > * {
  	float: left;
  }

  .easySubmissionFileListButton {
  	margin-top: 10px;
  	width: 95px;
  	float: left;
  }

  .easySubmissionVisibilityLine {
  	float: right;
  }
  
  .easySubmissionVisibilityLine * {
  	float: left;
  }
  
  .easySubmissionVisibilityLine input {
  	margin-left: 5px;
	margin-right: 2px;
  }
  
  .easySubmissionCreatorLine {
  	float: left;
  	margin-top: 1.25em;
  }
  
  .easySubmissionCreatorLine * {
  	float: left;
  }
  
  .easySubmissionCreatorLine input {
  	margin-left: 5px;
	margin-right: 2px;
  }
  
  .easySubmissionBasicSubItem {
  	width: 230px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionBasicSubItem input, .easySubmissionBasicSubItem button, .easySubmissionBasicSubItem select, .easySubmissionBasicSubItem label, .easySubmissionBasicSubItem textarea {
  	width: 220px;
  }

  .easySubmissionBasicSubItem > * {
  	float: left;
  }
  
  
  
  
  
  
  
  
  
  


  .easySubmissionDateItem {
  	width: 160px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }
  
  .easySubmissionDateItem input, .easySubmissionDateItem select, .easySubmissionDateItem label {
  	width: 150px;
  }
  

  .easySubmissionLangItem {
  	width: 180px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }

  .easySubmissionLangItem select {
  	width: 50px;
  }

  .easySubmissionLastItem {
  	width: 375px;
  	display: block;
  	overflow: hidden;
  	float: left;
  }

  .easySubmissionLastItem textarea, .easySubmissionLastItem label {
  	width: 370px;
  }
    
/* CONTROLS */

  .easySubmissionControls {
 	margin:10px;
 	margin-left: 75px;
 	margin-right: 75px;
 	width: 600px;
	padding: 0px;  
	background-color:#FFFFFF;
  }
  
  .easySubmissionControls ol {
  	list-style: none;
  	width: 100%;
	float: left;
	text-align: center;
	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionControls li {
  	float: left;
  	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionControls input {
 	float: left;
  	height: 24px;
  	background-color: #FFFFFF;
  	border:0px solid #DDDDDD;
  }
  
  .easySubmissionControls label {
  	padding-top: 1px;
 	font-size: 100%;
 	padding-left: 22px;
  	padding-right: 22px;
  }
  
  .easySubmissionsBackSection, .easySubmissionsNextSection {
  	background-color: #FFFFFF;
  	border:1px solid #DDDDDD;
  }
  
  .easySubmissionsBackSection {
  	float: left;
  }
  
  .easySubmissionBackButton {
	width: 24px;
	background-image:url("../images/media-playback-start1.png");
	background-repeat:no-repeat;
  }
  
  .easySubmissionsNextSection {
  	float: right;
  }
  
  .easySubmissionNextButton {
	width: 24px;
	background-image:url("../images/media-playback-start.png");
	background-repeat:no-repeat;
  }
  
  .deactivatedControl {
  	opacity: 0;
	filter: alpha(opacity=0);
  }