/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* f�r wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur F�rderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

 .borderless {
 	border: 0px;
 }
 
 .green {
 	background-color:#00FFFF;
 }

/* BOX */

 .easySubmissionBox {
 	margin:10px;
 	margin-left: 75px;
 	margin-right: 75px;
 	width: 600px;
	padding: 0px;  
	border:1px solid #DDDDDD;
	background-color:#FFFFFF;	
 }
 
 /* HEADER */
 .easySubmissionBoxHeader {
 	float: left;
 	margin: 0px;
 	padding: 0px;
 	width: 600px;
 	border: 0px;
 	background-color:#DDDDDD;	
 }
 
  .easySubmissionBoxHeader ol {
  	list-style: none;
  	width: 100.1%;
	float: left;
	text-align: right;
	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionBoxHeader ol li {
  	float: left;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
  }  
  
  .three li {
  	width: 33.3%;
  	
  }
  
  .four li {
  	/*width: 23%;*/
  	width: 25%;
  }
  
  .five li {
  	width: 20%;
  }
  
  .easySubmissionBoxHeader ol li div {
  	border:0px;
  	margin: 0px;
  	padding-right: 30px;
  	class: nowrap;
  	color: #FFFFFF;
  }
  
  .easySubmissionBoxHeader ol li span {
  	border-right: 2px solid #FFFFFF;
  	float: right;
  	margin-top: -20px;
  	padding-right: 2px;
  	class: nowrap;
  	color: #FFFFFF;
  	font-size: 250%;
  }
    
  .easySubmissionActivated {
	background-color:#000000;

  }
  
  .easySubmissionDeactivated {
  	opacity: 0;
	filter: alpha(opacity=0);
  }
  
  .easySubmissionDone {
  	background-color:#000000;
  	opacity: 0.5;
	filter: alpha(opacity=50);
  }
  
  /* BODY */
  
  .easySubmissionBoxBody {
  }
  
  .easySubmissionBoxBody h3 {
  	margin-left: 50px;
  	margin-top: 75px;
  	margin-bottom: 25px;
  }
  
  .easySubmissionBoxBodyContent {
  	margin-left: 50px;
  	margin-bottom: 25px;
  }
  
  .easySubmissionBoxBodyContent h3 {
  	margin-top: 0px;
  	margin-left: 0px;
  	margin-bottom: 25px;
  }
  
  .easySubmissionBoxBodyContent ol {
  	list-style: none;
	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionBoxBodyContent ol li {
  	overflow: hidden;
	margin: 0px;
	padding: 0px;
  }

  .easySubmissionBoxBodyContent > ol > li > input {
  	float: left;
	margin: 0px;
	margin-left: 30px;
	margin-top: 6px;
	padding: 0px;
  }
 
  .easySubmissionBoxBodyContent > ol > li label {
  	font-size: 100%;
  	float: left;
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	overflow: hidden;
	width: 490px;
  }
  
   .easySubmissionBoxBodyContent > ol > li .easySubmitadditionalInformationLabel {
   	float: left;
  	margin-left: 50px;
  }
  
  .collectionList {
  	width: 90%;
  }
  
  ol li.collectionListItem  {
  	margin-bottom: 5px;
  }
  
  .collectionListHeader {
  	min-width: 600px;
  /*	background-color: #9a9a9a;*/
  	padding-left: 5px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  }
  
  .collectionListBody {
  /*	background-color: ##f5f5f5;*/
  	padding: 5px;
  	padding-left: 20px;
  	padding-right: 20px;
  }
  
   .easySubmissionIDForm {
   	margin-left: 100px;
   	margin-bottom: 5px;
   	width: 80%;
  	float: left;
  }
  
  .easySubmissionIDForm > div {
  	padding-left: 5px;
  	padding-right: 5px;
  	padding-bottom: 3px;
   	width: 30%;
  	float: left;
  }
  
  .easySubmissionIDForm select, .easySubmissionForm input {
  	width: 120px;
  }
  
   .easySubmissionBibtexForm {
   	margin-left: 50px;
   	margin-bottom: 5px;
   	width: 80%;
  	float: left;
  }
  
  


    
/* CONTROLS */

  .easySubmissionControls {
 	margin:10px;
 	margin-left: 75px;
 	margin-right: 75px;
 	width: 600px;
	padding: 0px;  
	background-color:#FFFFFF;
  }
  
  .easySubmissionControls ol {
  	list-style: none;
  	width: 100%;
	float: left;
	text-align: center;
	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionControls li {
  	float: left;
  	margin: 0px;
	padding: 0px;
  }
  
  .easySubmissionControls input {
 	float: left;
  	height: 24px;
  	background-color: #FFFFFF;
  	border:1px solid #DDDDDD;
  }
  
  .easySubmissionControls label {
  	padding-top: 1px;
 	font-size: 100%;
 	margin-left: 22px;
  	margin-right: 22px;
  }
  
  .easySubmissionsBackSection {
  	float: left;
  }
  
  .easySubmissionBackButton {
	width: 24px;
	background-image:url("../images/media-playback-start1.png");
	background-repeat:no-repeat;
  }
  
  .easySubmissionsCancelSection {
  	float: left;
  }
  
  .easySubmissionCancelButton {
  	margin-left: 150px;
  	width: 100px;
  	padding-bottom: 2px;
  }
  
  .easySubmissionsNextSection {
  	float: right;
  }
  
  .easySubmissionNextButton {
	width: 24px;
	background-image:url("../images/media-playback-start.png");
	background-repeat:no-repeat;
  }
  
  .deactivatedControl {
  	opacity: 0;
	filter: alpha(opacity=0);
  }