/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/


.editItemOuterPanel {
  margin-left: 10px;
}

.editItemOuterBlockPanel {
  margin-left: 10px; 
  margin-top: 10px;
}

.editItemInnerPanel {
  margin-left: 0px; 
  margin-top: 0px;
}

.editItemLabelColumn {  
  width: 190px;
  height: 22px;
  vertical-align: top; 
}

.editItemFieldColumn {
  vertical-align: top; 
}

.editItemButtonColumn {
  vertical-align: top; 
}

.editItemBlankColumn {  
  width: 335px;
  height: 22px;
  vertical-align: top; 
}

.editItemTextArea {  
  height: 60px; 
  width: 320px;
  margin-right: 5px;
}

.affiliationDetailTextArea {  
  height: 80px; 
  width: 600px;
  margin-left: 10px;
  margin-top: 10px;
}

.editItemFileUpload {  
  width: 375px;
  margin-right: 5px;
}

.editItemTextFieldDate {  
  width: 75px;
}

.editItemTextFieldSingle {  
  width: 10px;
}

.editItemTextFieldVeryShort {  
  width: 75px;
}

.editItemTextFieldShort {  
  width: 150px;
}

.editItemTextFieldMedium {  
  width: 320px;
}

.editItemTextFieldLong {  
  width: 450px;
}

.editItemComboBoxLanguage {  
  width: 45px;
  margin-right: 5px;
  margin-top: 1px;
}

.editItemComboBoxVeryShort {  
  width: 75px;
}

.editItemComboBoxShort {  
  width: 150px;
}

.editItemComboBoxMedium {  
  width: 320px;
}

.editItemComboBoxLong {  
  width: 450px;
}

.editItemBlockHeaders {
  margin-top: 10px;
  font-weight: bold;
}

.editDynamicButton {  
  height: 20px;
  width: 55px;
}