@CHARSET "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/


/* Layout independent adjustments | Layout-unabhängige Anpassungen */
/* Only if necessary | Nur bei Bedarf */
/* @import url(../yaml/core/iehacks.css);*/

	/* ACCEPT ITEM*/
	
.messageItem {
	margin-left: 20px;
	margin-top: 5px;
}

.boxSpacing {
	margin-bottom: 20px;
}

.acceptItemInputArea {
	height: 60px;
	width: 320px;
}

/*EXPORT*/

.exportEmailButtonBox {
	text-align: center;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
	width: 650px;
	border: 0px;
}

.exportEmailBox {
	margin-left: 20px;
	background-color: #F7F7F7;
	width: 650px;
}

.exportBackButton, .exportSendButton {
	height: 20px;
	font-size: 16px;
}

.exportBackButton {
	float: left;
}

.exportSendButton {
	float: right;
}

.exportIconHeader {
	margin-top: 52px;
	margin-bottom: 30px;
}

.exportIcon {
	width:71px;
	height:71px;
	float:left;
	margin-left: 14px;
	margin-top: 25px;
	background-image:url("../images/Withdrawn_icon.png");
	background-repeat:no-repeat;
}

.exportIconHeader span {
	padding: 0.2em 0em 0em 1.7em;
	margin-left: -40px;
	background-repeat:no-repeat;
	background-position: left;
	font-variant: small-caps;
	font-size: 1.7em;
	font-weight: bolder;
	color: #444;
	letter-spacing: 0.1em;
}

.exportInputTexts {
	height: 20px;
	width: 400px;
}

.exportEMailSubjectTextBox {
	height: 20px;
	width: 600px;
}

.exportEMailBodyText {
	height: 100px;
	width: 600px;
}

.exportFileTypeRadios, exportFormatRadios {
	width: 151px;
	overflow: hidden;
}

.exportFileTypeRadios *, .exportFormatRadios * {
	float: left;
	overflow: hidden;
}

.exportFileTypeRadios label, .exportFormatRadios label {
	display: block;
	margin-left: 3px;
	margin-bottom: 2px;
}

.exportFormatRadios label {
	width: 110px;
}

.exportFileTypeRadios label {
	width: 55px;
}

.exportFileTypeRadios input, .exportFormatRadios input {
	display: block;
	height: 17px;
	border: 0px;
}

.exportDownloadButton, .exportSendMailButton {
	display: block;
	overflow: hidden;
	float: left;
}

.exportDownloadButton {
	width: 80px;
}

.exportSendMailButton {
	width: 45px;
}


/*LOGIN_ERROR*/

.loginErrorBGImage {
	background-image: url(./images/BorderLeft_Red3.jpg);
	background-position: left top;
	background-repeat: repeat-y;
	height: 580px;
	width: 860px;
}

.loginErrorOrientationText {
	left: 0px;
	top: 0px;
	position: absolute;
}

.loginErrorMessage {
	height: 18px;
	left: 50px;
	top: 150px;
	position: absolute;
}

/*STATISTICS*/


table.statisticTable {
	margin-top: 15px;
	border: none;
	border-collapse: collapse;
	text-align: center;	
	margin-left: 40px;
}

table.statisticTable td {
	border: 1px solid #ccc;
	padding: 2px;
	margin: 0px;	
}

table.statisticTable th {
	font-weight: normal;
	border: 1px solid #ccc;
	background-color: #e2e2e2;
	padding: 2px;
	margin: 0px;	
}

table.statisticTable td.statisticTableLeftCol {
	text-align: right;
	padding-left: 20px;
}

.itemStatisticHeader {
	font-weight: bold;	
}

.statisticsBackLink {
	margin-top: 100px;
	
}

/*WITHDRAW ITEM (AND SUBMIT ITEM)*/
.withdrawOverview {
	margin-left: 10px;
	margin-top: 5px;
	border: 0px;
}

.withdrawMessage {
	margin-bottom: 20px;
}

.withdrawMessageVal {
	margin-left: 10px;
	margin-top: 10px
}

.withdrawCommentPanel {
	margin-left: 10px;
	margin-top: 5px;
	border: 0px;
}

.withdrawCommentTextarea {
	height: 60px;
	width: 320px;
}

/*AFFILIATION TREE*/

.p_OraTreeNodeAdjust {
padding-bottom: 3px;
padding-top: 0px;
}

/*VIEW ITEM*/
.linkHead {
float: left;
width: 98%;
}

.linkHead a {
font-size: 80%;
margin-left: 5px;
float: right;
}

.viewItemTopHeader {
padding-top: 10px;
font-size: 1em;
font-variant: normal;
}

.viewItemHeader {
padding-top: 5px;
font-size: 1em;
}

.networkIcon{
	border:none;
	background-color: #f8f8f8;
	margin-right:5px;
	position:relative;
	top:3px;
}

.subLabel {
	font-weight: bold;
	margin-left: 3px;
}

/*MISC*/
.margin5Right {
	margin-right: 5px;
}

.margin5Top {
	margin-top: 5px;
}

.trinidadRadiobuttonTable td input {
	margin-right: 5px;
	float: left;
}