<nav class="navbar navbar-expand-md navbar-light bg-light py-0 justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse row" id="navbarNav">
    <div class="navbar-nav align-self-center mr-auto">
      <a routerLink="./" class="nav-item nav-link" [routerLinkActive]="['active']">Elastic</a>
      <a routerLink="./index" class="nav-item nav-link" [routerLinkActive]="['active']">index</a>
      <a routerLink="./search" class="nav-item nav-link" [routerLinkActive]="['active']">search</a>
      <a routerLink="./upload" class="nav-item nav-link" [routerLinkActive]="['active']">upload</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
