@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

@media print {
	#header {
		display: none;
	}
}

/*META MENU*/

	.metaMenu .logButton, .metaMenu button, .metaMenu select, .metaMenu label, .metaMenu div, .metaMenu span, .metaMenu a  {
		float: right;
		text-decoration: none;
	}

	.metaMenu .logButton, .metaMenu button, .metaMenu label, .metaMenu a {
		text-align: left;
	}

	.metaMenu label {
		white-space: nowrap;
	}

	.metaMenu .seperator {
		display: block;
		overflow: hidden;
	}
	
	.logoAlternate, .logoAlternate * {
		float: left !important;
	}

/*SEARCH MENU*/

	.searchMenu {
		float: right;
	}

	.quickSearchIcon {
		float: left;
	}

	.quickSearchTextInput, .quickSearchCheckBoxMenu, .advancedSearchMenu *, .organisationSearchMenu * {
		text-align: left;
		float: left;
		display: inline;
		text-decoration: none;
	}

/*MAIN MENU*/

	.mainMenu input, .mainMenu a {
		text-align: left;
		text-decoration: none;
	}

/*BREADCRUMB*/

	.breadcrumb {
		float: right;
		white-space: nowrap;
		overflow: hidden;
	}

	.breadcrumb ol {
		list-style: none;
	}

	.breadcrumb li {
		float: left;
	}
	
@media print {
	.breadcrumb {
		display: none;
	}
}

/*PAGE HEADER*/

	.headLine h1 {
		display: block;
	}

@media screen, presentation {
	.headLine {
		float: right;
		text-align: right;
		white-space: nowrap;
	}
}

@media print {
	
	.headLine {
		float: left;
		text-align: left;
	}
		
	.subHeaderSection {
		float: left;
		margin-left: 0px;
	}
	
}

/*CONTENT MENU*/

	.contentMenu .sub {
		overflow: hidden;
	}

	.contentMenu span {
		float: left;
	}

	.contentMenu input, .contentMenu a {
		float: left;
		text-decoration: none;
	}

	.contentMenu .seperator  {
		float: left;
	}
	
@media print {
	.contentMenu .sub {
		display: none;
	}
	
	/*USE NOT SHOWN CONTENT MENU FOR LOGO REPRESENTATION IN PRINT VERSION*/
	.contentMenu {
		position: absolute;
		top: 0px;
		left: 59.28em;
		width: 22.10em;
		height: 5em;
		display: list-item;
		list-style-position: inside;
	}
}