@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

/*GENERAL*/

.itemList .seperator {
	float: left;
}

.itemList .collapse, .itemList .expand {
	display: none;
}

.itemList ol, .itemList ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/*LIST HEADER*/

	/*GENERAL*/

.listHeader input {
	float: right;
}

	/*SELECT MENU*/

.selectMenu {
	position: absolute;
}

/*LIST ITEM*/

	/*GENERAL*/

.listItem {
	list-style: none;
}

.listItem td {
	 vertical-align: top;
}

	/*ITEM HEADER*/

	/*ITEM BODY*/

.listItem .collapse, .listItem .expand {
	float: left;
}

.listItem .itemCheckBox {
	float: right;
}

.listItem .statusIcon {
	position: relative;
	float: left;
}

.listItemLine .labelLine {
	text-align: right;
}

/*STATUS RELATED ELEMENTS*/

.listHeader .status, .listItem .status {
	display: none;
}

.loggedIn .status {
	display: block;
}

/*PRINT RELATED DEFINITIONS*/

@media print {
	.itemList input, .itemList select, .itemList .seperator, .itemList .collapse, .itemList .expand {
		display: none !important;
	}
	
	.itemSelectArea {
		display: none !important;
	}
	
	.itemList {
		border-top-width: 0px !important;
	}
}