<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<distributable/>

	<mime-mapping>
		<extension>jsp</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>jspf</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<session-config>
		<session-timeout>120</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<welcome-file-list>
		<welcome-file>faces/HomePage.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
		<location>faces/HomePage.jsp?expired=true</location>
	</error-page>

</web-app>

