@charset "UTF-8";
/*
 *
 * CDDL HEADER START
 *
 * The contents of this file are subject to the terms of the
 * Common Development and Distribution License, Version 1.0 only
 * (the "License"). You may not use this file except in compliance
 * with the License.
 *
 * You can obtain a copy of the license at license/ESCIDOC.LICENSE
 * or http://www.escidoc.de/license.
 * See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL HEADER in each
 * file and include the License file at license/ESCIDOC.LICENSE.
 * If applicable, add the following below this CDDL HEADER, with the
 * fields enclosed by brackets "[]" replaced with your own identifying
 * information: Portions Copyright [yyyy] [name of copyright owner]
 *
 * CDDL HEADER END
 */
/*
 * Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
 * für wissenschaftlich-technische Information mbH and Max-Planck-
 * Gesellschaft zur Förderung der Wissenschaft e.V.
 * All rights reserved. Use is subject to license terms.
 */
/*
 ALL COLORS USED
 
 BACKGROUND		#EAF4F7 MPIPL Replacement: #436976
 
 LINK COLOR		#147DA2 MPIPL Replacement: #000000
 AUTHOR/ORG BG		#4397B4
 LIGHT LINES		#A1CBDA MPIPL Replacement: #C65252
 DROPDOWN/BG		#DCECF1 MPIPL Replacement: #E6DDD5
 INPUT BG		#F3F8FA MPIPL Replacement: #E6DDD5
 
 PAGE TITLE		#0F313E
 
 ERROR MSG		#E95A29
 
 SUCCESS MSG		#56871B
 
 DEACTIVATED		#827775
 
 DEA LIGHT		#CDC9C8
 
 TEXT			#524240
 
 TEXT LIGHT		#BAB4B3
 
 MOUSEOVER		#382926 MPIPL Replacement: #C65252
 
 INPUT TEXT		#000000
 
 FORM BG			#FFFFFF
 
 */
/*FONT DEFINITION*/
/*HEADER*/
/*H1*/
h1 {
    color: #C65252;
    font-weight: normal;
}

/*H2*/
h2 {
    font-weight: normal;
}

/*H3*/
h3 {
}

/*H4*/
h4 {
}

/*H5*/
h5 {
}

/*H6*/
h6 {
    font-weight: bold;
    color: #524240;
    margin: 0px;
}

/*GENERAL*/
/*FONT RELATED*/
body, label, input, textarea, select, button, input.numberLabel, h2, h3, h6, a {
    font-family: Arial, Helvetica, sans-serif;
}

input[type = text], textarea {
    font-family: "Courier New", Courier, serif;
    background-image: url ('../images/input_background.gif');
		}
		h1, h4, h5 {
			font-family: "Myriad Pro Condensed", "Arial Narrow", sans-serif;
		}
/*
*
*  COMPONENT RELATED COLORING
*
*/
/*GENERAL*/
	body {
		color: #524240;
		line-height: 145%;
	}
	
	body .wrapper, body .footer {
		background-color: #F2EEE6;
	}
	
	input, button, textarea, select {
		color: #000000;
		background-image: url('../images/input_background.gif');
		background-repeat: repeat-x;
	}
	
	a, a:visited {
		color: #000000;
		text-decoration: none;
	}
	
	a.OraLinkDisabled {
		color: #BAB4B3;
		cursor: default;
	}
	
	a:hover, a:focus {
		color: #C65252;
		text-decoration: none;
	}

	
	input:hover, input:focus, button:hover, button:focus {
		color: #000000;
		text-decoration: none;
	}
	
	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
		cursor: pointer;
	}

	input, textarea, select {
		border-style: solid;
		border-color: #524240;
	}
	
	input[type="text"], textarea, select {
		background-color: #FFFFFF;
	}
	
	a:hover, a:focus {
	/*	text-decoration: underline; */
		cursor: pointer;
		color: #C65252 !important;
	}
	
	a:disabled, a.disabled, input:disabled, input.disabled, button:disabled, button.disabled {
		cursor: default;
		color: #BAB4B3;
	}
	/*SEPERATORS*/
	.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator  {
		background-color: #C65252;
	}
	
	.itemList .seperator {
		background-color: #F2EEE6;
	}
	
	.fullItem .seperator {
		background-color: #FFFFFF;
	}
	
	.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator {
		border-color: #F2EEE6;
	}
	
	.fullItem .fullItemControls .seperator {
		background-color: #FFFFFF;
		border-color: #000000;
	}
	
	.fullItem .easySubmissionHeader .seperator {
		background-color: #FFFFFF;
		border-color: #C65252;
	}
	
	.itemList .seperator, .fullItem .seperator {
		border-color: #BAB4B3;
	}
	
	.contentMenu .void {
		border-color: #F2EEE6;
		background-color: #F2EEE6;
	}
/*HEADER*/
	/*COLORING FOR ALL MENU INPUTS AND LABELS*/
	.metaMenu input, .metaMenu button, .metaMenu a, .quickSearchMenu a, .quickSearchCheckBoxMenu label, .advancedSearchMenu input, .advancedSearchMenu a, .organisationSearchMenu input, .organisationSearchMenu a, .mainMenu input, .mainMenu a, .contentMenu input, .contentMenu a  {
		background-color: #F2EEE6;
		color: #000000;
		background-image: none;
	}
	
	.logoAlternate span {
		font-weight: bold;
		color: #524240;
	}
	
	.logoAlternate span a {
		font-weight: normal;
	}
	
	.contentMenu span {
		color: #524240;
	}
	
	.metaMenu button:hover, .metaMenu button:focus, .metaMenu a:hover, .metaMenu a:focus, .quickSearchMenu a:hover, .quickSearchMenu a:focus, .quickSearchCheckBoxMenu label:hover, .quickSearchCheckBoxMenu label:focus, .advancedSearchMenu input:hover, .advancedSearchMenu a:focus, .organisationSearchMenu a:hover, .organisationSearchMenu a:focus, .mainMenu input:hover, .mainMenu input:focus, .mainMenu a:hover, .mainMenu a:focus, .contentMenu input:hover, .contentMenu input:focus, .contentMenu a:hover, .contentMenu a:focus  {
		color: #C65252;
	}
	
	/*COLORING FOR BREADCRUMB SLASHES*/
	.breadcrumb li {
		color: #636363;
	}
	/*COLORING FOR BREADCRUMB TEXT*/
	.breadcrumb li a, .breadcrumb li a:visited {
		color:#000000;
	}
	
	.breadcrumb li a:hover, .breadcrumb li a:focus {
		color: #C65252;
	}
	
	.contentMenu span, .contentMenu input, .contentMenu a {
		font-weight: bold;
	}
	
/*EXT. PAGINATOR*/

	.paginatorFallbackGoBtn {
		background-color: #F2EEE6;
		color: #000000;
	}

	/*RANGE SELECTOR*/

	.rangeSelector .replaceLabel {
		border-color: #C65252 !important;
		color: #000000 !important;
	}
	
	.rangeSelector .pulldown {
		border-color: #C65252 !important;
		background-color: #F2EEE6 !important;
	}
	
	.rangeSelector .open, .rangeSelector .close {
		background-color: inherit;
	}
	
	.rangeSelector .actual, .rangeSelector .selectLine:hover {
		background-color: #C65252 !important;
		color: #FFFFFF !important;
	}

	/*PAGE BROWSER*/
	.pageBrowser input, .pageBrowser button, .pageBrowser a {
		background-color: #F2EEE6;
		color: #000000;
		background-image: none;
	}
	
	.pageBrowser input:hover, .pageBrowser button:hover, .pageBrowser a:hover, .pageBrowser input:focus, .pageBrowser button:focus, .pageBrowser a:focus {
		color: #C65252;
		cursor: pointer;
	}
	
	.pageBrowser .actual, .pageBrowser .actual:hover, .pageBrowser .actual:focus {
		font-weight: bold;
		color: #524240;
		cursor: pointer;
	}
	
	@media print {
		.pageBrowser .actual {
			font-weight: normal;
			background-color: white;
		}
	}
	
	.pageBrowser :disabled, .pageBrowser :disabled:hover, .pageBrowser :disabled:focus, .pageBrowser .deactivated, .pageBrowser .deactivated:hover, .pageBrowser .deactivated:focus {
		color: #BAB4B3;
	}
	
/* INFO PAGE*/
/*
	.infoPage {
		border-style: solid;
		border-color: #BAB4B3;
	}
	
	.infoPage .mainSection h2 {
		border-style: solid;
		border-color: #BAB4B3;
	}
*/
	.infoPage .sideSection {
		border-style: solid;
		border-left-color: #BAB4B3;
	}
	.infoPage .videoPreview {
		border-style: solid;
		border-color: #C65252;
	}
/*LISTS & FULL ITEM*/

	/*GENERAL*/
	
	.itemList, .fullItem {
		border-top-color: #436976;
	}
	
	.itemList, .fullItem {
		border-bottom-color: #436976;
	}

/*PRE-HEADER*/

    .preListHeader {
        border-top-color: #436976;
    }
	
	/*LIST HEADER*/
	
		/*GENERAL*/

	.listHeader {
		background-image: url('../images/submenubg.jpg');
		background-repeat: repeat-x;
	}
	
	.listHeader a {
		line-height: normal;
		font-weight: normal;
	}
	
		/*SELECT MENU*/
	
	.itemList .checkBoxSelectButton {
		background-color: #FFFFFF;
		cursor: pointer;
	}
	
	.selectMenu {
		border-color: #C65252;
		/*
		opacity: 0.95;
		filter: alpha(opacity=95);
		*/
	}

	.selectMenu ,.selectMenu input {
		background-color: #FFFFFF;
	}

.selectMenu a {
    color: #147DA2;
}

	.selectMenu a:hover, .selectMenu input:hover {
		background-color: #4397B4;
		color: #000000;
	}
	
	.statusArea .ascSort, .statusArea .desSort, th .ascSort, th .desSort {
		background-color: #FFFFFF;
	}
	
	.listBackground .ascSort, .listBackground .descSort {
		background-color: #FFFFFF;
	}
	
	/*LIST ITEM*/
	
		/*GENERAL*/
		
	.listItem {
		border-top-color: #BAB4B3 !important;
	}
	
	.searchHit {
		background-color: #C65252;
	}
	
	.preListHeader, .fullItem, .listBackground, .listBackground .seperator {
		background-color: #FFFFFF;
	}

/*	
	.fullItem, .listItem:hover, .itemBlock .itemLine:hover {
		background-color: #FFFFFF;
	}
*/	
		/*ITEM HEADER*/
		
	.fullItem .itemHeadline b {
		font-size: 16px !important;
		font-weight: normal;
	}
		
	.listItem .itemHeadline b {
		font-size: 14px !important;
		font-weight: normal;
	}

	.listItem td .itemHeadline b {
		font-size: 11px !important;
		font-weight: normal;
	}
	
	.fullItem .easySubmissionHeader b {
		color: #BAB4B3;
		font-size: 16px;
	}
	
	.fullItem .easySubmissionHeader b.actual {
		color: #524240;
	}

	
	/*FULL ITEM HEADER*/
	
	.fullItem .fullItemControls a {
		cursor: pointer;
	}
	
	.fullItem .fullItemControls .actual {
		color: gray;
	}
	
	/*FULL ITEM BLOCK*/
	

	.fullItem .itemBlock, .fullItem .itemHeader {
		border-top-color: #BAB4B3;
	}
	
	.itemBlock .voidBlock {
		color: #BAB4B3;
	}
	
	.fullItem li, .itemBlock .itemLine {
		border-top-color: #CDC9C8;
	}
	
	.itemBlock .newBlock {
		border-top-color: #524240;
	}
	
	.affHover {
		background-color: #96896F;
		color: #FFFFFF;
	}
	
	.add, .remove {
		cursor: pointer;
	}
	
	.add:disabled, .remove:disabled {
		cursor: default;
	}
	
	.fullItem .groupBtn {
		/*font-weight: bold;*/
		color: #000000;
		background-color: #FFFFFF;
		text-align: left;
		background-image: none;
	}
	
	.fullItem .groupBtn:hover, .fullItem .groupBtn:focus {
		color: #000000;
		cursor: pointer;
		text-decoration: underline;
	}
	
	.fullItem .groupBtn:disabled {
		color: #BAB4B3;
		cursor: default;
	}
	
/*SINGLE ELEMENTS*/
	.dateJSLabel {
		background-color: #E6DDD5;
		color: #524240;
	}
	
	.replace .replaceLabel {
		border-color: #C65252 !important;
		color: #000000 !important;
	}
	
	.replace .pulldown {
		border-color: #C65252 !important;
		background-color: #E6DDD51 !important;
	}
	
	.replace .open, .replace .close {
		background-color: inherit;
	}
	
	.replace .actual, .replace .selectLine:hover {
		background-color: #4397B4 !important;
		color: #FFFFFF !important;
	}

/*FORM BUTTONS*/
	.cancelButton, .activeButton {
		border-style: solid;
		padding-top: 0.10em;
		padding-bottom: 0.10em;
	}

	.cancelButton {
		float: left;
		color: #000000;
		background-color: #F2EEE6;
		border-top-color: #F2EEE6;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #F2EEE6;
	}
	
	.cancelButton:hover {
		color: #000000;
		background-color: #F2EEE6;
		border-top-color: #F2EEE6;
		border-right-color: #382926;
		border-bottom-color: #382926;
		border-left-color: #F2EEE6;
	}
	
	.activeButton {
                background-image: url('../images/menu-selectedbg.jpg');
		float: right;
		color: #FFFFFF !important;

	}
	
	.activeButton:hover {
		color: #FFFFFF !important;
		background-color: #382926 !important;
		border-color: #382926;
	}
	
/*AUTOSUGGEST*/

	.ac_results {
		border-style: solid;
		border-color: #C65252;
		background-color: #F2EEE6;
	}
	
	.ac_results li {
		border-bottom-style: solid;
		border-bottom-color: #C65252;
		font-family: sans-serif;
	}
	
	.ac_over {
		cursor: pointer;
		background-color: #4397B4;
	}
	
	.ac_match {
		font-family: sans-serif;
		font-weight: bold;
		color: #000000;
	}

/*BLANK INPUT*/
	.blankInput {
		color: #BAB4B3;
	}	

/*MESSAGE AREAS*/
	.messageArea {
		border-style: solid;
		border-color: #000000;
		background-color: #FFFFFF;
		margin-bottom: 1em;
	}
	
	.infoMessageArea {
		border: 1px solid #56871B !important;
    	border-color: #56871B;
	}
	
	.infoMessageArea h2 {
		color: #56871B;
	}
	
	.errorMessageArea {
		border: 1px solid #E95A29 !important; 
	    border-color: #E95A29;
	}
	
	.errorMessageArea h2 {
		color: #E95A29;
	}
	
	.absoluteMessageArea {
		position: fixed;
		z-index: 100;
	}
	
	.fixMessageBlockBtn, .fixErrorMessageBlockBtn, .fixSuccessMessageBlockBtn {
		float: right;
		background-color: #FFFFFF;
	}
	
/*ERROR OR WARNING MESSAGES*/
	.falseValue, .messageError, .messageWarn, .messageFatal {
		color: #E95A29;
	}
	
/*STATUS OR SUCCESS MESSAGE*/
	.messageStatus {
		color: #56871B;
	}

/*MANDATORY FIELD*/
	.mandatory {
/*		color: #E95A29;
		font-weight: bold;
*/	}
	
/*UNDER REWORK*/

.underRework {
	background-color: #F43E71 !important;
}

.successMessageArea {
    border: 1px solid #147DA2 !important;
    border-color: #147DA2;
}

.inputInfoBox, .inputInfoBox a {
	text-align: center;
	font-weight: bolder;
	font-family: serif;
	border-left-width: 2px !important;
	border-right-width: 2px !important;
}
