<div class="container-fluid">
<div class="form-group row">
    <input #fileInput class="col-11 form-control form-control-sm" type="file" (change)="onFileChange($event)" multiple/>
    <button class="col-1 btn btn-sm btn-outline-primary" type="submit" [disabled]="!filesToUpload" (click)="upload()">Start</button>
  </div>
<div *ngIf="isInProgress" class="progress">
  <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>
<input type="button" class="btn btn-sm btn-outline-primary" (click)='showFiles()' [value]="showFile ? 'HIDE' : 'SHOW'"/>
<!--
<button class="btn btn-sm btn-outline-primary" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button>
-->
<div *ngIf="showFile">
  <div class="list-group">
    <div *ngFor="let file of fileUploads | async" class="list-group-item-primary list-group-item-action py-0 text-left" (click)="setImageSource(file)">{{file}}</div>
  </div>
</div>
<img [src]=selectedImage/>
</div>
