<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
                xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
                      
	<display-name>eSciDoc Dataacquisition WebService</display-name>

	<servlet>
		<servlet-name>UnapiServlet</servlet-name>
		<display-name>UNAPI Servlet</display-name>
		<servlet-class>de.mpg.mpdl.inge.dataacquisition.webservice.UnapiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UnapiServlet</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnapiServlet</servlet-name>
		<url-pattern>/view/*</url-pattern>
	</servlet-mapping>

	<session-config>
        <!-- Default to 5 minute session timeouts -->
		<session-timeout>5</session-timeout>
	</session-config>

	<welcome-file-list id="WelcomeFileList">
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
