@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.org/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
  	grid-gap: 10px;
}

.grid-item-3 {
  	grid-area: 1 / 2 / span 2 / span 1;
}

/* START NanoScroller */
.nano {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nano .content {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	top: 0;
	/*	right: 0; */
	bottom: 0;
	/*	left: 0; */
	width: 100%;
}

.nano.has-scrollbar .content {
	padding-right: 20px !important;
}

.nano .content:focus {
	outline: thin dotted;
}

.nano .content::-webkit-scrollbar {
	visibility: hidden;
}

.has-scrollbar .content::-webkit-scrollbar {
	visibility: visible;
}

.nano>.pane {
	background: rgba(0, 0, 0, .25);
	position: absolute;
	width: 10px;
	right: 0;
	padding-right: 0 !important;
	top: 0;
	bottom: 0;
	visibility: hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity: .01;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.nano>.pane>.slider {
	background: #444;
	background: rgba(0, 0, 0, .5);
	position: relative;
	margin: 0 1px;
	padding-right: 0 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.nano:hover>.pane, .pane.active, .pane.flashed {
	visibility: visible\9; /* Target only IE7 and IE8 with this hack */
	opacity: 0.99;
}

.tile_category .nano div {
	display: block;
}

.tile_category .nano .content div {
	display: inline-block;
}
/* END NanoScroller */