@charset "UTF-8";
/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

@media screen
{
  #header { 
	height: 90px;	
	left: 0px;
	background-image:url(../../images/header.jpg);
	background-repeat:no-repeat;
	background-position: right top;
  }

}

@media print
{
  #header {display: none;}
}

@media all
{
 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Design of the Basic Layout | Gestaltung des YAML Basis-Layouts
  *
  * @section layout-basics
  */

  /* Page margins and background | Randbereiche & Seitenhintergrund */
  body { background: #fff; }

  /* Layout: Width, Background, Border | Layout: Breite, Hintergrund, Rahmen */
  #page_margins { min-width: 900px; max-width: 1290px; border: 0px;}
  #page { }

  /* Design of the Main Layout Elements | Gestaltung der Hauptelemente des Layouts */

  #topnav { 
	top: 0px;
	width: 600px;
	padding-left: 300px;
}

  #main {  }

  #footer {  }

 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Formatting of the Content Area | Formatierung der Inhaltsbereichs
  *
  * @section layout-main
  */

  /* Fixed width for left column | Fixe Breite für Linke Spalte */
  #col1 { 
	width: 150px;
	margin: 0px 0px 0px 12px; 
	padding: 5px 2px 5px 2px;
	border: 1px; 
	border-style: solid; 
	border-color: #ccc; 
	background-color: #f8f8f8; 
	overflow: hidden;
  }
  #col1_content { padding: 12px; }

  /* Right Column for Sub-Navigation | Rechte Spalte fuer Sub-Navigation */
  #col2, #col2_content { 
	width: 150px; 
	float: right;
	overflow: hidden;
	margin: 0px 5px 0px 0px;
  }

  #col3 { margin-left: 180px; }
  #col3_content { margin: 12px; }


 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Design of Additional Layout Elements | Gestaltung weiterer Layoutelemente
  *
  * @section layout-misc
  */


}