<div class="container" *ngIf="selected && isAdmin == true; else no_admin">
    <div class="card text-white bg-primary text-right">
        <div class="card-body">
            <h4 class="card-title">{{selected.loginname}}</h4>
        </div>
        <form class="list-group-item text-primary" name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="form-group row w-100">
                <label for="selected-loginname" class="col-2 col-form-label col-form-label-sm">loginname</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="text" name="loginname" [(ngModel)]="selected.loginname" id="selected-loginname"
                        required minlength="4" value-not-allowed="new user" #loginname="ngModel" [readonly]="!isNewUser">
                    <div *ngIf="loginname.invalid && (loginname.dirty || loginname.touched)" class="text-danger">
                        <div *ngIf="loginname.errors.required">
                            loginname is required.
                        </div>
                        <div *ngIf="loginname.errors.minlength">
                            loginname must be at least 4 characters long.
                        </div>
                        <div *ngIf="loginname.errors.value-not-allowed">
                            loginname MUST NOT be new user.
                        </div>
                    </div>
                </div>
                <label *ngIf="!isNewUser" for="selected-id" class="col-1 col-form-label col-form-label-sm">id</label>
                <div *ngIf="!isNewUser" class="col-3">
                    <input class="form-control form-control-sm" type="text" name="id" [(ngModel)]="selected.objectId" id="selected-id" readonly>
                </div>
            </div>
            <div class="form-group row w-100">
                <label for="selected-password" class="col-2 col-form-label col-form-label-sm">password</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="password" name="password" [(ngModel)]="selected.password" id="selected-password"
                        readonly>
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="resetPassword(selected)" name="resetPassword"
                        value="reset" />
                </div>
            </div>
            <div class="form-group row w-100">
                <label for="selected-active" class="col-2 col-form-label col-form-label-sm">active</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="text" name="active" [(ngModel)]="selected.active" id="selected-active"
                        readonly>
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="activateUser(selected)" name="activate"
                        [value]="selected.active === false ? 'activate' : 'deactivate'" />
                </div>
            </div>
            <div class="form-group row w-100">
                <label for="selected-name" class="col-2 col-form-label col-form-label-sm">name</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="text" name="name" [(ngModel)]="selected.name" id="selected-name" required
                        #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <div *ngIf="name.errors.required">
                            name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row w-100">
                <label for="selected-email" class="col-2 col-form-label col-form-label-sm">email</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="email" name="email" [(ngModel)]="selected.email" id="selected-email">
                </div>
            </div>
            <div *ngIf="!isNewOu" class="form-group row w-100">
                <label for="selected-ou" class="col-2 col-form-label col-form-label-sm">organization</label>
                <div *ngIf="selected.affiliation" class="col-6">
                    <input class="form-control form-control-sm" type="text" name="ouid" [(ngModel)]="selected.affiliation.name" id="selected-ou"
                        readonly>
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="onChangeOu()" name="changeou" value="change"
                    />
                </div>
            </div>
            <div *ngIf="isNewUser || isNewOu" class="form-group row w-100">
                <label for="ou2select" class="col-2 col-form-label col-form-label-sm">organization</label>
                <div class="col-10">
                    <select id="ou2select" class="select form-control form-control-sm" [(ngModel)]="selectedOu" (ngModelChange)="onSelectOu($event)"
                        name="selectedOu">
                        <option [ngValue]="ou" *ngFor="let ou of ous">{{ou.metadata.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row w-100">
                <div class="col-2 ml-auto">
                    <input type="button" class="btn btn-outline-primary btn-sm" name="cancel" value="cancel" (click)="gotoList()" />
                    <input type="button" class="btn btn-outline-primary btn-sm" name="save" value="save" (click)="save(selected)" />
                </div>
            </div>
            <div *ngIf="!isNewUser" class="w-100">
                <div class="form-group row w-100">
                    <label for="addGrantButton" class="col-2 col-form-label col-form-label-sm">grants</label>
                    <div class="col-10 text-right">
                        <ul class="list-group">
                            <li class="list-group-item-primary list-group-item-action py-0 align-items-center" *ngFor="let usergrant of selected.grantList" (click)="goToRef(usergrant)">
                                <div class="row">
                                    <span class="col-3 text-left text-truncate">
                                        <label class="col-form-label-sm p-0 ml-2" [innerHtml]="usergrant.role"></label>
                                    </span>
                                    <span class="col-6 text-left text-truncate">
                                        <label class="col-form-label-sm p-0" [innerHtml]="usergrant.ctxTitle"></label>
                                    </span>
                                    <span class="col-2 text-left">
                                        <!--<label class="col-form-label-sm p-0" [innerHtml]="usergrant.objectRef" (mouseover)="viewRefTitle(usergrant)" data-toggle="tooltip" data-placement="right" title="{{ctxTitle}}"></label>-->
                                        <label class="col-form-label-sm p-0" [innerHtml]="usergrant.objectRef"></label>
                                    </span>
                                    <span class="col-1">
                                        <input type="button" class="btn btn-outline-primary btn-sm" (click)="deleteGrant(usergrant); $event.stopPropagation()" name="deleteGrant"
                                            value="x" />
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!isNewGrant" class="form-group row w-100">

                    <div class="col-2 ml-auto">
                        <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="addGrant(); $event.stopPropagation()" name="addGrant"
                            value="add grants" />
                    </div>
                </div>
                <div *ngIf="isNewGrant" class="form-group row w-100">
                    <div class="col-10 ml-auto">
                        <grants-component class="form-group row w-100" [(selectedUser)]="selected" [token]="token" [(isNewGrant)]="isNewGrant"></grants-component>
                    </div>
                </div>
                <div *ngIf="grants2remove" class="form-group row w-100">
                    <div class="col-10 ml-auto">
                        <div class="form-group row w-100">
                            <div class="col-9">
                                <textarea class="form-control form-control-sm" rows="3" name="grantsToRemove" [(ngModel)]="grantsToRemove" readonly></textarea>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn btn-outline-primary btn-sm float-left" name="removeGrants" value="remove grants" (click)="removeGrants()"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #no_admin>
    <div class="container" *ngIf="selected">
        <div class="card text-white bg-primary text-right">
            <div class="card-body">
                <h4 class="card-title">{{selected.loginname}}</h4>
            </div>
            <form class="list-group-item text-primary" name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="form-group row w-100">
                    <label for="selected-loginname" class="col-2 col-form-label col-form-label-sm">loginname</label>
                    <div class="col-6">
                        <input class="form-control form-control-sm" type="text" name="loginname" [(ngModel)]="selected.loginname" id="selected-loginname"
                            [readonly]="!isNewUser">
                    </div>
                    <label *ngIf="!isNewUser" for="selected-id" class="col-1 col-form-label col-form-label-sm">id</label>
                    <div *ngIf="!isNewUser" class="col-3">
                        <input class="form-control form-control-sm" type="text" name="id" [(ngModel)]="selected.objectId" id="selected-id" readonly>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <label for="selected-password" class="col-2 col-form-label col-form-label-sm">password</label>
                    <div class="col-6">
                        <input class="form-control form-control-sm" type="password" name="password" [(ngModel)]="selected.password" id="selected-password">
                    </div>
                    <div class="col-4">
                        <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="changePassword(selected)" name="changePassword"
                            value="change" />
                    </div>
                </div>
                <div class="form-group row w-100">
                    <label for="selected-active" class="col-2 col-form-label col-form-label-sm">active</label>
                    <div class="col-6">
                        <input class="form-control form-control-sm" type="text" name="active" [(ngModel)]="selected.active" id="selected-active"
                            readonly>
                    </div>
                    <div class="col-4">
                        <input type="button" class="btn btn-outline-primary btn-sm disabled float-right" (click)="notAllowed(selected)" name="activate"
                            [value]="selected.active === false ? 'activate' : 'deactivate'" />
                    </div>
                </div>
                <div class="form-group row w-100">
                    <label for="selected-name" class="col-2 col-form-label col-form-label-sm">name</label>
                    <div class="col-10">
                        <input class="form-control form-control-sm" type="text" name="name" [(ngModel)]="selected.name" id="selected-name" readonly>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <label for="selected-email" class="col-2 col-form-label col-form-label-sm">email</label>
                    <div class="col-10">
                        <input class="form-control form-control-sm" type="email" name="email" [(ngModel)]="selected.email" id="selected-email" readonly>
                    </div>
                </div>
                <div *ngIf="!isNewOu" class="form-group row w-100">
                    <label for="selected-ou" class="col-2 col-form-label col-form-label-sm">organization</label>
                    <div *ngIf="selected.affiliation" class="col-6">
                        <input class="form-control form-control-sm" type="text" name="ouid" [(ngModel)]="selected.affiliation.name" id="selected-ou"
                            readonly>
                    </div>
                    <div class="col-4">
                        <input type="button" class="btn btn-outline-primary btn-sm disabled float-right" (click)="notAllowed()" name="changeou" value="change"
                        />
                    </div>
                </div>
                <div *ngIf="isNewUser || isNewOu" class="form-group row w-100">
                    <label for="ou2select" class="col-2 col-form-label col-form-label-sm">organization</label>
                    <div class="col-10">
                        <select id="ou2select" class="select form-control form-control-sm" [(ngModel)]="selectedOu" (ngModelChange)="onSelectOu($event)"
                            name="selectedOu">
                            <option [ngValue]="ou" *ngFor="let ou of ous">{{ou.metadata.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-2 ml-auto">
                        <input type="button" class="btn btn-outline-primary btn-sm disabled" name="cancel" value="cancel" (click)="notAllowed()"
                        />
                        <input type="button" class="btn btn-outline-primary btn-sm disabled" name="save" value="save" (click)="notAllowed(selected)"
                        />
                    </div>
                </div>
                <div *ngIf="!isNewUser" class="w-100">
                    <div class="form-group row w-100">
                        <label for="addGrantButton" class="col-2 col-form-label col-form-label-sm">grants</label>
                        <div class="col-10 text-right">
                            <ul class="list-group">
                                <li selected-item-color="lightgray" class="list-group-item p-0" *ngFor="let usergrant of selected.grantList" (click)="goToRef(usergrant)">
                                    <div class="row">
                                        <label class="col-6 col-form-label-sm my-auto text-left">{{usergrant.role}}</label>
                                        <label class="col-5 col-form-label-sm my-auto text-left">{{usergrant.objectRef}}</label>
                                        <span class="col-1">
                                            <input type="button" class="btn btn-outline-primary btn-sm disabled" (click)="notAllowed(usergrant); $event.stopPropagation()"
                                                name="deleteGrant" value="x" />
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="!isNewGrant" class="form-group row w-100">

                        <div class="col-2 ml-auto">
                            <input type="button" class="btn btn-outline-primary btn-sm disabled float-right" (click)="notAllowed(); $event.stopPropagation()"
                                name="addGrant" value="add grants" />
                        </div>
                    </div>
                    <div *ngIf="isNewGrant" class="form-group row w-100">
                        <div class="col-10 ml-auto">
                            <grants-component class="form-group row w-100" [(selectedUser)]="selected" [token]="token" [(isNewGrant)]="isNewGrant"></grants-component>
                        </div>
                    </div>
                    <div *ngIf="grants2remove" class="form-group row w-100">
                        <div class="col-10 ml-auto">
                            <div class="form-group row w-100">
                                <div class="col-9">
                                    <textarea class="form-control form-control-sm" rows="3" name="grantsToRemove" [(ngModel)]="grantsToRemove" readonly></textarea>
                                </div>
                                <div class="col-3">
                                    <input type="button" class="btn btn-outline-primary btn-sm float-left" name="removeGrants" value="remove grants" (click)="removeGrants()"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
